{% extends "digital-land-frontend/dlf-base.html" %}
{% set templateName = "page-per-thing/index.html" %}

{%- from "digital-land-frontend/components/index-list/macro.html" import dlIndexList %}
{%- from "digital-land-frontend/components/feedback/macro.html" import dlFeedback %}

{% block pageTitle %}{{ pipeline_name|capitalize }} | Digital Land{% endblock -%}

{% block head %}
    {{ super() }}
    {% block dlMapJS -%}
        <script src="{{ staticPath|default('/static') }}/javascripts/dl-maps.js"></script>
    {% endblock dlMapJS -%}
{% endblock  %}

{% block beforeContent -%}
    {{ super() }}

    {{- govukBreadcrumbs({
    "items": [
    {
    "text": "Digital Land",
    "href": "/"
    } ] + breadcrumb
    }) -}}
{% endblock -%}

{% block content %}

    {% block indexTitle -%}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 id="index-title" class="govuk-heading-xl">{{ pipeline_name|capitalize|replace("-", " ") }}</h1>
            {% if download_url -%}
            <div class="govuk-!-margin-bottom-9" style="margin-top: -15px;">
                <a class="dl-page-action-button" href="{{download_url}}">Download dataset</a>
            </div>
            {%- endif %} 
        </div>
        <div class="govuk-grid-column-one-third">
            {{ dlFeedback({
                "classes": "dlf-feedback--stacked dlf-feedback--flush",
                "text": "Have you spotted any issues with the data?",
                "action": {
                    "text": "Provide feedback",
                    "href": "mailto:digitalLand@communities.gov.uk?subject=Feedback on " + pipeline_name|capitalize|replace("-", " ") + " data"
                }
                })
            }}
        </div>
    </div>
               
    {% endblock %}

    {% if items and items|length > 20 %}
    <form class="filter-organisations-list__form govuk-!-margin-bottom-9" data-filter="form">
        <label class="filter-list__label govuk-label govuk-!-font-weight-bold" for="filter-organisations-list">I'm looking for</label>
        <input class="filter-list__input govuk-input" type="text" id="filter-organisations-list" placeholder="{{ filterInputPlaceholder|default('For example, Harrogate Borough Council') }}">
    </form>
    <div class="js-no-filter-list-matches"><p class="govuk-body">No matches.</p></div> <!-- needs to go outside of index-list-wrapper -->
    {% endif %}

    {% block indexList -%}

        {% set historicalFilter  %}
        <form action="" class="govuk-form govuk-!-margin-bottom-4 dl-historical-toggle-form js-hidden" data-historical="form">
            <div class="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="hsitorical" name="hsitorical" type="checkbox" value="show">
                    <label class="govuk-label govuk-checkboxes__label" for="hsitorical">
                    Show historical records
                    </label>
                </div>
            </div>
        </form>
        {% endset %}

        {% if items %}
        <div class="index-list-wrapper">
            <div class="count-wrapper">
                <p class="govuk-body" aria-hidden="true">Showing <span class="js-list-count">{{ count }}</span> records.</p>
                <p class="govuk-visually-hidden">There are
                    <span class="js-accessible-list-count">{{ count }}</span>
                    records listed.
                </p>
            </div>

            {{- historicalFilter -}}

            {{ dlIndexList({
                "items": items,
                "filterable": True,
                "attributes": {
                    "data-historical": "list"
                }
            }) }}
        </div>
        {% endif %}

        {% if group_field %}
        <p class="govuk-body">
            There {{ 'is' if count == 1 else 'are' }} {{ count }} record{{ '' if count == 1 else 's' }}
            {% if group_field == "organisation" %} from {{ groups|length }} organisation{{ "" if groups|length == 1 else "s" }}{% endif %}.
        </p>

        {{- historicalFilter -}}

        <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
            {% for group in groups  %}
                <div class="govuk-accordion__section index-list-wrapper">
                    <div class="govuk-accordion__section-header" id="{{ group }}">
                        <h2 class="govuk-accordion__section-heading">
                            <span class="govuk-accordion__section-button" id="accordion-default-heading-{{loop.index}}">
                                {{ group|group_id_to_name(group_field) }}
                            </span>
                        </h2>
                        <span class="count-wrapper index-group__count govuk-visually-hidden">Showing <span class="js-list-count">{{ groups[group]['items']|length }}</span> of {{ groups[group]['items']|length }} records</span>
                    </div>
                    <div id="accordion-default-content-{{loop.index}}" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-{{loop.index}}">
                        {{ dlIndexList({
                            "items": groups[group]['items'],
                            "pipeline_name": pipeline_name,
                            "attributes": {
                                "data-historical": "list"
                            }
                        }) }}
                    </div>
                </div> 
            {% endfor %}
        </div>  
        {% endif -%}
    {% endblock %}

{% endblock content %}

{% block footer %}
<div class="dl-sticky-banner__container" data-module="sticky-banner">
    <div class="dl-sticky-banner">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half">
                {% include 'digital-land-frontend/partials/dl-back-to-top.html' %}
            </div>
        </div>
    </div>
</div>
{{ super() }}
{% endblock %}

{% block bodyEnd %}
    {{ super() }}

    <script>
        const $bttBanner = document.querySelector('[data-module="sticky-banner"]')
        const bttComponent = new DLFrontend.BackToTop($bttBanner).init({
            endElementSelector: '.govuk-footer',
            startElementSelector: '#index-title',
            fixClass: 'dl-sticky-banner--fixed'
        })
    </script>

    {% block initMapBlock %}
        {% if geographies is defined %}
            <script>
                const $mapElement = document.querySelector('[data-module="boundary-map"]')
                const mapComponent = new DLMaps.Map($mapElement).init({})
            </script>
        {% endif %}
    {% endblock initMapBlock %}

    {% block initFilteringBlock %}
        {% if items and items|length > 20 %}
        <script>
        // initialise list filter
        const $form = document.querySelector('[data-filter="form"]');
        new window.DLFrontend.FilterList($form).init({
            list_section_selector: '.index-list-wrapper',
            count_wrapper_selector: '.count-wrapper'
        })
        </script>
        {% endif %}
        <script>
            const showCounts = {{ 'true' if items else 'false' }}
            const $hist = document.querySelector('[data-historical="form"]');
            new window.DLFrontend.FilterHistorical($hist).init({
                triggerEvents: "list:filtered",
                listWrapperSelector: '.index-list-wrapper',
                showCountsWhenShowingAll: showCounts
            })
        </script>
    {% endblock initFilteringBlock %}

{% endblock %}
