{% extends "layouts/layout.html" %}
{% block pageTitle %}Cookies - Digital Land{% endblock %}
{% set mainClasses = "govuk-main-wrapper--l" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Cookies on the Digital Land website</h1>
      <p class="govuk-body">The Digital Land website puts cookies onto your computer to collect information about how you browse the site. This helps us to:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>update and improve the website based on your needs</li>
        <li>remember the notifications you’ve seen so that we do not show them to you again</li>
      </ul>
      <p class="govuk-body">We do not collect any personal information that could be used to identify you.</p>
      <p class="govuk-body">Find out more about <a href="https://ico.org.uk/your-data-matters/online/cookies/">how to manage cookies</a>.</p>
      <h2 class="govuk-heading-l" id="how-cookies-are-used-on-the-digital-land-website">How cookies are used on the Digital Land website</h2>
      <h3 class="govuk-heading-m" id="our-cookie-banner">Our cookie banner</h3>
      <p class="govuk-body">When you first visit the Digital Land website, you will see a banner asking if you accept cookies. We’ll store a cookie to remember which option you selected. You can always change your mind and change your choice on this page.</p>
      <p class="govuk-body">Next time you visit the site, we will remember your preference and not show the banner again.</p>
      <p class="govuk-body">To do this, the Digital Land website sets the following cookies:</p>
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Name</th>
            <th scope="row" class="govuk-table__header">Purpose</th>
            <th scope="row" class="govuk-table__header">Expires</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">cookies_preferences_set</td>
            <td class="govuk-table__cell">Lets us know you've seen our cookie message.</td>
            <td class="govuk-table__cell">1 month</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">cookies_policy</td>
            <td class="govuk-table__cell">Saves your cookie choices.</td>
            <td class="govuk-table__cell">1 month</td>
          </tr>
        </tbody>
      </table>
      {# <h3 class="govuk-heading-m" id="google-analytics-cookies">Google Analytics cookies</h3>
      <p class="govuk-body">We use Google Analytics to measure how you use the Digital Land website. This helps us to improve the website experience and make sure it’s meeting your needs.</p>
      <p class="govuk-body">Google Analytics sets cookies that store information about:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>the pages you visit on this website</li>
        <li>how long you spend on each page</li>
        <li>how you got to the site</li>
        <li>what you click on whilst on the website</li>
      </ul>

      <div class="govuk-inset-text">
      We do not allow Google to use or share our analytics data.
      </div>

      <p class="govuk-body">Google Analytics sets the following cookies.</p>
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Name</th>
            <th scope="row" class="govuk-table__header">Purpose</th>
            <th scope="row" class="govuk-table__header">Expires</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">_ga</td>
            <td class="govuk-table__cell">Counts the number of visitors by tracking if you've visited this website before.</td>
            <td class="govuk-table__cell">2 years</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">_gid</td>
            <td class="govuk-table__cell">Counts the number of visitors in the UK by tracking if you've visited this website before.</td>
            <td class="govuk-table__cell">24 hours</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">_gat</td>
            <td class="govuk-table__cell">Used to manage the rate at which page view requests are made.</td>
            <td class="govuk-table__cell">10 minutes</td>
          </tr>
        </tbody>
      </table>

      <!-- section for cookie options HTML -->
      <form id="cookie-form" class="govuk-form govuk-!-margin-top-9" onsubmit="return false;">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l govuk-!-margin-bottom-6">Change your cookie options</legend>
          <div class="govuk-form-group govuk-radios">
            <div class="govuk-radios__item" data-children-count="1">
              <input type="radio" name="cookies-usage" id="radio-ga-on" value="on" class="govuk-radios__input">
              <label for="radio-ga-on" class="govuk-label govuk-radios__label">Use cookies that measure my website use</label>
            </div>
            <div class="govuk-radios__item" data-children-count="1">
              <input type="radio" name="cookies-usage" id="radio-ga-off" value="off" class="govuk-radios__input">
              <label for="radio-ga-off" class="govuk-label govuk-radios__label">Do not use cookies that measure my website use</label>
            </div>
          </div>
        </fieldset>

        <button class="govuk-button" type="submit" onclick="saveCookiePrefs();">Save changes</button>
      </form> #}

    </div>
  </div>
{% endblock %}
