{% extends "layouts/layout.html" %}

{% set templateName = 'dl-info/pages/docs.html' %}
{%- from "components/back-button/macro.jinja" import dlBackButton %}

{% from "govuk_frontend_jinja/components/table/macro.html" import govukTable -%}
{% from "govuk_frontend_jinja/components/tag/macro.html" import govukTag -%}
{% from 'components/summary-card/macro.jinja' import appSummaryCard %}
{%- from "components/data-table/macro.jinja" import dlDataTableWrapper %}
{% block pageTitle %}Documentation - Planning Data{% endblock %}
{% set mainClasses = "govuk-main-wrapper--l" %}
{%- block breadcrumbs -%}
  {{ dlBackButton({
    "href": '/'
  })}}
{%- endblock -%}
{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-caption-xl">Planning Data</div>
    <h1 class="govuk-heading-xl">Documentation</h1>

    <h2 class="govuk-heading-m">Downloading the data</h2>
    <p class="govuk-body">You can download datasets in bulk in various formats from each <a href="/dataset">dataset page</a>.</p>
    <p class="govuk-body">Downloads are available as CSV, JSON and where applicable as GeoJSON.</p>

    <h2 class="govuk-heading-m">Getting the data through the API</h2>
    <p class="govuk-body">We are also developing an experimental API. Developers can use these APIs to explore our data and test services. As we are still in beta,
      these should not be used for building production-ready systems.</p>
    <p class="govuk-body">You can read about the API below. Get in touch with the team if you are interested in building a service using the planning data API.</p>

    <hr class="govuk-section-break govuk-section-break--m">

    <p class="govuk-body">Contents:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li><a href="#api">Planning data API</a></li>
      <li><a href="#openapi">Planning data OpenAPI</a></li>
    </ul>

    <hr class="govuk-section-break govuk-section-break--l">

  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">

    <h2 class="govuk-heading-l" id="api">Planning Data API</h2>

    <!-- openapi schema generally has info,paths and components -->

    {% macro _parameterName(params={}) %}
      {% if params.name %}<div class="app-code-block app-code-block--inline govuk-!-margin-bottom-2">{{ params.name }}</div>{% endif %}
      <div class="govuk-!-font-size-14 app-u-vertical-align--top govuk-hint">{% if params.required == True %}Required{% else%}Optional{% endif %}</div>
    {% endmacro %}

    {% macro _parameterType(params={}) %}
      {% if "$ref" in params.parameter['schema'].keys() %}
        {% set _parameterComponentName = params.parameter['schema']["$ref"]|extract_component_key %}
        {% set _schema = params.components['schemas'][_parameterComponentName] %}
      {% elif "allOf" in params.parameter['schema'].keys()%}
        {% set _parameterComponentName = params.parameter['schema']["allOf"][0]["$ref"]|extract_component_key %}
        {% set _schema = params.components['schemas'][_parameterComponentName] %}
      {% else %}
        {% set _schema = params.parameter['schema'] %}
      {% endif %}
      {% if 'items' in _schema.keys() %}
        {{_schema['type']}}({{_schema['items']['type']}})
      {% else %}
        {{_schema.type}}
      {% endif %}
    {% endmacro %}

    {% macro _parameterDescription(params={}) %}
      {% if "$ref" in params.parameter['schema'].keys() %}
        {% set _parameterComponentName = params.parameter['schema']["$ref"]|extract_component_key %}
        {% set _schema = params.components['schemas'][_parameterComponentName] %}
        Must be one of: {{ _schema["enum"][:-1] | join(", ") }} or {{ _schema["enum"] | last }}
      {%  else %}
        {{ params.parameter["description"] }}
      {%  endif %}
    {% endmacro %}

    {% macro _renderEndpoint(params={}) %}
      {% set _parameterRows = [] %}

      <!-- for path in params.paths.keys() -->
      {% for parameter in params.parameters %}
        {{
          _parameterRows.append([
            {
              'html': _parameterName({ 'name': parameter.name, 'required': parameter.required }) | safe
            },
            {
              'html': _parameterType({'parameter':parameter,'components':components}) | safe,
              'classes': 'govuk-!-font-size-14'
            },
            {
              'html': _parameterDescription({'parameter':parameter,'components':components})| safe,
              'classes': 'govuk-!-font-size-16'
            }
          ]) | debug | safe
        }}
      {% endfor %}

      {% call appSummaryCard({
          'titleText': params.name,
          'classes': 'govuk-!-margin-bottom-6'
        }) %}

        <p class="govuk-body">{{ params.description }}</p>

        {{
          govukTable({
            'head': [
              {
                'text': "Request type",
                'classes': 'govuk-!-width-one-third',
                'data': 'data-modules'
              },
              {
                'text': "URL"
              }
            ],
            'rows': [
              [
                {
                  'html': govukTag({ 'text': params.requestType, 'classes': ('govuk-tag--red' if (params.requestType | lower) == 'delete' else 'govuk-tag--green') })
                },
                {
                  'html': ('<span class="app-code-block">' + params.url + '</span>'),
                  'classes': 'govuk-!-font-size-16'
                }
              ]
            ]
          })
        }}

        {% set parametersHTML %}
          {{
            govukTable({
              'caption': "Parameters",
              'captionClasses': "govuk-table__caption--s govuk-hint",
              'head': [
                {
                  'text': "Name",
                  'classes': 'govuk-!-font-size-16'
                },
                {
                  'text': "Type",
                  'classes': 'govuk-!-font-size-16'
                },
                {
                  'text': "Description",
                  'classes': 'govuk-!-width-one-half govuk-!-font-size-16'
                }
              ],
              'rows': _parameterRows
            })
          }}
        {% endset %}

        {{ dlDataTableWrapper({
          "tableHTML": parametersHTML
        }) }}

      {% endcall %}

    {% endmacro %}

    {% for path in paths.keys() %}
      {% for method in paths[path].keys() %}
        {{
          _renderEndpoint({
            'name': paths[path][method]['tags'][0],
            'description': paths[path][method]['summary'],
            'requestType': method,
            'url': path,
            'parameters':paths[path][method]['parameters'],
          })
        }}
      {% endfor %}
    {% endfor %}

<hr class="govuk-section-break govuk-section-break--l">

    <h2 class="govuk-heading-l" id="openapi">Planning Data OpenAPI</h2>

    <p class="govuk-body">You can generate a client library from our OpenAPI file using <a href="https://editor.swagger.io/">Swagger Editor</a>.</p>
    <p class="govuk-body">This may be an easier way for you to integrate your service with the planning data platform than writing a client library from scratch.</p>

    {% call appSummaryCard({
    }) %}

      {{ govukTable({
        'head': [
          {
            'text': "Request type"
          },
          {
            'text': "URL"
          }
        ],
        'rows': [
          [
            {
              'html': govukTag({ 'text': 'GET', 'classes': 'govuk-tag--green'})
            },
            {
              'html': '<span class="app-code-block"><a href="https://www.planning.data.gov.uk/openapi.json">https://www.planning.data.gov.uk/openapi.json</a></span>'
            }
          ]
        ]
      }) }}

    {% endcall %}


  </div>
</div>
{% endblock %}
