// Custom: Ensure checkbox inputs and labels are vertically aligned
// when both GOV.UK checkbox and generic govuk-label styles are present.
// This is a narrow override to keep markup changes non-invasive.
.govuk-checkboxes__item {
  .govuk-checkboxes__input {
    vertical-align: middle;
    margin-top: 0; // reset any label-driven offset
  }

  // Support cases where govuk-label is also used alongside checkbox label
  .govuk-checkboxes__label,
  .govuk-label.govuk-checkboxes__label {
    display: inline-block;
    vertical-align: middle;
    margin-left: 0; // small gap between box and label text
    margin-top: 0;
  }
}
