Makefile
.flake8
.gitignore
.nvmrc
.npmrc
.pre-commit*
.python-version
docker-compose.yml
docker-compose.override.yml
*.md
tests
tf
.pytest_cache
.env
.DS_Store
.github
.vscode
.idea
.git
*.in
coverage.xml
tags
__pycache__
build
dist
*.egg-info
node_modules
.junitxml
.mypy_cache
pyrightconfig.json
*.orig


.envrc
.env.staging
.env.production
.env.sandbox
