S3_COLLECTION_BUCKET=https://collection-dataset.s3.eu-west-2.amazonaws.com
READ_DATABASE_URL=postgresql://postgres:postgres@localhost/digital_land
WRITE_DATABASE_URL=postgresql://postgres:postgres@localhost/digital_land
