__pycache__/
*.py[cod]

.cache
.coverage
build
dist
specification
*.egg-info
tmp/
var/
.DS_Store
*.swp
.eggs
*.gfs
.venv
.vscode

tf/*/.terraform*
tf/**/tfplan

/.python-version
.idea

node_modules
.editorconfig
