__pycache__/
*.py[cod]

.cache
.coverage
build
dist
specification
*.egg-info
tmp/
var/
.DS_Store
*.swp
.eggs
*.gfs
.venv
.vscode

tf/*/.terraform*
tf/**/tfplan

/.python-version
.idea

node_modules

.editorconfig
pyrightconfig.json
tags
__pycache__
.mypy_cache

.env
.env.test
.db-data
static

docker-compose.override.yml
.junitxml
.envrc
.env.staging
.env.sandbox
.env.production
coverage.xml
.secrets
unit-tests.md
integration-tests.md
