{% macro dlBackButton(params) %}

<div class="dlBackButtonWrapper">
    <div
        class="dlBackButton {{params.buttonClassNames}}"
    >
        <
        <a
            class="dlBackButtonLink {{params.linkClassNames}}"
            {% for attribute, value in (params.attributes.items() if params.attributes else {}.items()) %}
                {{attribute}}="{{value}}"
            {% endfor %}
            href="{{ params.parentHref }}"
            onclick="window.history.back(); return false;"
            id="backButton"
        >
            Back
        </a>
    </div>
</div>
{% endmacro %}
