{% macro dlBackButton(params) %}
<script src="/static/javascripts/back-button.js" type="module"></script>
<script type="module">
    import { goBack } from '/static/javascripts/back-button.js'
    window.goBack = goBack;
</script>

<div class="dlBackButtonWrapper">
    <div
        class="dlBackButton {{params.buttonClassNames}}"
    >
        <
        <a
            class="dlBackButtonLink {{params.linkClassNames}}"
            {% for attribute, value in (params.attributes.items() if params.attributes else {}.items()) %}
                {{attribute}}="{{value}}"
            {% endfor %}
            href="{{ params.parentHref }}"
            onclick="return goBack('{{ params.parentHref }}');"
            id="backButton"
        >
            Back
        </a>
    </div>
</div>
{% endmacro %}
