{% macro dlBackButton(params) %}
<script src="/static/javascripts/back-button.js"></script>

<div class="dlBackButtonWrapper">
    <a
        class="dlBackButton {{params.classNames}}"
        {% for attribute, value in (params.attributes.items() if params.attributes else {}.items()) %}
            {{attribute}}="{{value}}"
        {% endfor %}
        href="{{ params.parentHref }}"
        onclick="return goBack('{{ params.parentHref }}');"
    >
        < Back
    </a>
</div>
{% endmacro %}
