{% extends "layouts/layout.html" %}
{% block pageTitle %}Page not found - Planning Data{% endblock %}
{% set mainClasses = "govuk-main-wrapper--l" %}
{% set templateName = 'dl-info/404.html' %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Page not found</h1>
      <p class="govuk-body">
        If you typed the web address, check it is correct.
      </p>
      <p class="govuk-body">
        If you pasted the web address, check you copied the entire address.
      </p>
      <p class="govuk-body">
        If the web address is correct or you selected a link or button, <a href="mailto:{{ templateVar.email }}?subject=Page missing" class="govuk-link">contact the Planning Data team</a> if you need to speak to someone about this page.
      </p>
    </div>
  </div>
{% endblock %}
