{% extends "govuk_frontend_jinja/template.html" %}
{% from "govuk_frontend_jinja/components/phase-banner/macro.html" import govukPhaseBanner %}
{% from "govuk_frontend_jinja/components/breadcrumbs/macro.html" import govukBreadcrumbs %}

{%- block pageTitle %}Planning data you can find, use and trust{% endblock -%}

{% block headIcons %}
  <link rel="shortcut icon" sizes="48x48" href="{{ assetPath | default('/assets') }}/images/favicon.ico" type="image/x-icon">
  <link rel="shortcut icon" sizes="32x32" href="{{ assetPath | default('/assets') }}/images/favicon-32x32.png" type="image/png">
  <link rel="shortcut icon" sizes="16x16" href="{{ assetPath | default('/assets') }}/images/favicon-16x16.png" type="image/png">
  <link rel="apple-touch-icon" href="{{ assetPath | default('/assets') }}/images/apple-touch-icon.png">
{% endblock %}

{% block head %}
	<meta name="digital-land:template" content="{{ templateName|default('digital-land-frontend/base.jinja') }}">
  {%- block headStart %}{% endblock headStart -%}

  {% block pageAssets %}
    {% block mapAssets %}
      {%- if includesMap -%}
        {% include 'digital-land-frontend/partials/map-assets.jinja' %}
      {%- endif %}
    {% endblock mapAssets %}

    {%- block stylesheets %}
    <link href="{{ assetPath | default('/assets') }}/stylesheets/dl-frontend.css" rel="stylesheet" />
    {% endblock stylesheets -%}
  {% endblock pageAssets %}

  {%- block headEnd %}{% endblock headEnd -%}
{% endblock head %}

{% block header %}
  {% block cookieBanner %}
    {% include 'digital-land-frontend/partials/cookie-banner.jinja' %}
  {% endblock cookieBanner %}

  {% block mastHead %}
    {% include 'digital-land-frontend/partials/header.jinja' %}
  {% endblock mastHead %}
{% endblock header %}

{% block beforeContent %}
{% block phaseBanner %}
{% include 'digital-land-frontend/partials/phase-banner.jinja' %}
{% endblock %}
{% block breadcrumbs %}{% endblock breadcrumbs %}
{% endblock beforeContent %}

{% block footer %}

	{% include 'digital-land-frontend/partials/footer.jinja' %}
{% endblock %}

{% block bodyEnd %}
  {% block bodyScriptsStart %}{% endblock bodyScriptsStart %}

  {% block bodyScripts %}
    {% block analyticScripts %}
    <script src="{{ assetPath | default('/assets') }}/javascripts/digital-land-cookies.js"></script>
    <script async src='https://www.google-analytics.com/analytics.js'></script>
    {% endblock analyticScripts %}

    {% block libraryScripts %}
    	{%- if includeJQuery == "true" -%}
	      <script src="{{ staticPath | default('/static') }}/javascripts/vendor/jquery-3.4.1.min.js"></script>
	    {% endif %}
    {% endblock libraryScripts %}

    {% block govScripts %}
    <script src="{{ assetPath | default('/assets') }}/javascripts/govuk/govuk-frontend.js"></script>
    <script>
      // initiate all GOVUK components
      window.GOVUKFrontend.initAll();
    </script>
    {% endblock govScripts %}

    {% block digitalLandScripts %}
    <script src="{{ assetPath | default('/assets') }}/javascripts/digital-land-frontend.js"></script>
    <script>
      window.DLFrontend.initAll();
    </script>
    {% endblock digitalLandScripts %}

    {% block pageScripts %}{% endblock pageScripts %}
  {% endblock bodyScripts %}

  {% block bodyScriptsEnd %}{% endblock bodyScriptsEnd %}
{% endblock %}
