{% extends "layouts/layout.html" %}
{% set templateName = "dl-info/entity.html" %}

{%- from "govuk_frontend_jinja/components/details/macro.html" import govukDetails %}
{%- from "digital-land-frontend/components/map/macro.jinja" import dlLeafletMap %}
{%- from "digital-land-frontend/components/data-record/macro.jinja" import dlDataRecordPanel %}
{%- from "digital-land-frontend/components/data-reference-cell/macro.jinja" import dlDataReferenceCell %}
{%- from "digital-land-frontend/components/data-table/macro.jinja" import dlDataTableWrapper %}

{% if row['name'] %}
  {%- set row_name = row['name'] %}
{%- elif row['reference'] %}
  {%- set row_name = row['reference'] %}
{%- else %}
  {%- set row_name = "Not Named" %}
{%- endif %}

{% set geometry_url = "/entity/" + row["entity"] | string + ".geojson" if row['typology'] == "geography" else
  None %}
{% if geometry_url or geojson_features %}
  {% set includesMap = true %}
{% endif %}

{%- block pageTitle %}{{ row_name }} | {{ pipeline_name|capitalize }} | Digital Land{% endblock -%}

{%- block breadcrumbs -%}
  {{- govukBreadcrumbs({
    "items": [
        {
          "text": "Digital Land",
          "href": "/"
        },
        {
          "text": "Entity",
          "href": "/entity"
        },
        {
          "text": row["entity"]
        }
      ]
    }) -}}
{%- endblock -%}

{%- block content %}

  {% block recordHead %}
    {% block recordTitle -%}
      <span class="govuk-caption-xl">{{ pipeline_name|replace("-", " ")|capitalize }}</span>
      <h1 class="govuk-heading-xl">{{ row_name }}</h1>
    {%- endblock recordTitle %}
  {% endblock recordHead %}

  <div class="govuk-tabs" data-module="dl-subnav">
    <h2 class="govuk-tabs__title">
      Contents
    </h2>
    <nav class="dl-subnav" aria-label="Sub navigation">
      <ul class="dl-subnav__list">
        <li class="dl-subnav__list-item dl-subnav__list-item--selected">
          <a class="dl-subnav__list-item__link" href="#record" data-module-sub-nav="tab">
            Record
          </a>
        </li>
        {%- if history %}
          <li class="dl-subnav__list-item">
            <a class="dl-subnav__list-item__link" href="#history" data-module-sub-nav="tab">
              History
            </a>
          </li>
        {%- endif %}
        {%- if provenance %}
          <li class="dl-subnav__list-item">
            <a class="dl-subnav__list-item__link" href="#provenance" data-module-sub-nav="tab">
              Provenance
            </a>
          </li>
        {% endif -%}
        {% if references %}
          <li class="dl-subnav__list-item">
            <a class="dl-subnav__list-item__link" href="#referenced-by" data-module-sub-nav="tab">
              {{ references|total_items }} Reference{{ "" if references|total_items == 1 else "s" }}
            </a>
          </li>
        {% endif %}
      </ul>
    </nav>

    <div id="record">
      {% block recordTableContainer %}
        <div class="govuk-grid-row">

          {%- block recordTable %}
            <div class="{{ recordPanelContainerClass|default('govuk-grid-column-two-thirds') }}">
              {%- set areaproperties %}
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Name</dt>
                <dd class="govuk-summary-list__value">{{ row['name'] }}</dd>
              </div>
              {%- for field in row.keys() %}
                {%- if field not in ["name", "json", "organisation-entity"] %}
                  {%- if field not in ["geometry","point"] or row[field] is not none %}
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        {#- used to have a filter that returned the name of a field e.g. end-date would return End date -#}
                        {{ field }}
                      </dt>
                      <dd class="govuk-summary-list__value">
                        {% if row[field] is not none %}
                          {% if field == "dataset" %}
                            <a class="govuk-link" href="/dataset/{{ row[field] }}">{{ row[field]|replace("-", " ")|capitalize }}</a>
                          {% else %}
                            {{ row[field]|make_link }}
                          {%- endif %}
                        {% endif %}
                      </dd>
                    </div>
                  {% endif %}
                {% endif %}
                {% if field == "organisation-entity" and row[field] is not none %}
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      {{ field }}
                    </dt>
                    <dd class="govuk-summary-list__value">
                      {{ row[field]|entity_name }}
                    </dd>
                  </div>
                {% endif %}
                {% if field == "json" and row[field] is not none %}
                  {% for attr, val in row[field].items() %}
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        {{ attr }}
                      </dt>
                      <dd class="govuk-summary-list__value">
                        {{ val|make_link }}
                      </dd>
                    </div>
                  {% endfor %}
                {% endif %}
              {%- endfor %}
              {%- endset %}

              {%- if row['resource'] -%}
                {{ dlDataRecordPanel({
                    "classes": "govuk-!-margin-bottom-6",
                    "identifier": row['entity'] if row['entity'] else "missing entity number",
                    "resource": {
                        "identifier": row['resource'],
                        "url": "https://github.com/digital-land/" + pipeline_name + "-collection/tree/main/transformed/" + pipeline_name + "/" + row['resource'] + ".csv"
                    },
                    "html": areaproperties
                }) }}
              {%- else -%}
                {{ dlDataRecordPanel({
                    "classes": "govuk-!-margin-bottom-6",
                    "identifier": row['entity'] if row['entity'] else "missing entity number",
                    "html": areaproperties
                }) }}
              {%- endif -%}
            </div>

          {% endblock recordTable -%}
        </div>
      {% endblock recordTableContainer %}

      {% block recordGeometry -%}
        {%- if includesMap %}
          <h2 class="govuk-heading-m">Geographical area</h2>

          {% set noteHTML %}
          <a class="js-hidden dl-link-national-map" href="#">See on national map.</a>
          {% endset %}

          {{- dlLeafletMap({
          "id": "dlMap",
          "wrapper_classes": "govuk-!-margin-top-4",
          "attributes": {
              "data-geojson-urls": geometry_url
          },
          "height": "460",
          "notePanel": {
              "html": noteHTML
          }
      }) -}}

          <div class="govuk-!-margin-top-2 govuk-!-margin-bottom-6">
            <a download class="app-page-action-button" href="/entity/{{row["entity"]}}.geojson">Download geojson</a>
          </div>
        {%- endif %}
      {%- endblock recordGeometry %}

    </div>


    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Facts
    </span>
      </summary>
      <div class="govuk-details__text">
        <table class="govuk-table">
          <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Field</th>
            <th scope="col" class="govuk-table__header">Value</th>
            <th scope="col" class="govuk-table__header">Date</th>
          </tr>
          </thead>
          <tbody class="govuk-table__body">
          {% for fact in facts %}
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">{{ fact.field }}</td>
              <td class="govuk-table__cell">{{ fact.value }}</td>
              <td class="govuk-table__cell">{{ fact.entry_date }}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </details>

    {%- if history_enabled %}
      <div id="history">
        {#{%- block entryHistory %}#}
        {#{%- endblock entryHistory %}#}
      </div>
    {%- endif %}

    {%- if provenance %}
      <div id="provenance">
        <h2 class="govuk-heading-m dl-subnav__heading">Provenance</h2>
      </div>
    {% endif -%}

    {% block recordReferences -%}
      {% if references %}
        <div id="referenced-by">
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
              <h2 class="govuk-heading-m dl-subnav__heading">Referenced by</h2>
              <p class="govuk-body">This record is referenced by {{ references|total_items }} other planning related data record{{ "" if references|total_items == 1 else "s" }}.</p>
              {% if references|length > 0 -%}
                {% for type, refs in references.items() %}
                  <h3 class="govuk-heading-s">{{ type|capitalize }}</h3>
                  <ul class="govuk-list govuk-list--bullet">
                    {%- for ref in refs %}
                      <li>
                        <a href={{ entity_prefix|default('') }}{{ ref["href"] }}>{{ ref["text"] }}</a>
                        <span class="secondary-text data-reference">({{ ref["id"] }})</span>
                      </li>
                    {% endfor -%}
                  </ul>
                {% endfor %}
              {% endif -%}
            </div>
          </div>
        </div>
      {% endif %}
    {% endblock recordReferences -%}

  {%- endblock content %}

  {% block recordEnd %}{% endblock recordEnd %}

  {% block footerStart %}
    {%- from "digital-land-frontend/components/feedback/macro.jinja" import dlFeedback %}
    {% set subject = "Feedback on " + row_name + " -- " + pipeline_name  %}
    {{ dlFeedback({
        "text": "Spotted an issue? Let us know so we can improve the data.",
        "action": {
            "text": "There is something wrong with the data",
            "href": "mailto:" + templateVar.email  + "?subject=" + subject
        },
        "container": true
        })
      }}
  {% endblock footerStart %}

  {%- block pageScripts %}
    {%- if includesMap %}
      <script>
        const datasetName = "{{ pipeline_name }}"
        const $mapElement = document.querySelector('[data-module="boundary-map"]')
        const $nationalMapLink = document.querySelector('.dl-link-national-map')
        const mapParams = {
          initZoomCallback: function (featureGroup, map) {
            console.log("initial load completed")
            // do we need to check there isn't more than one shape?
            const center = featureGroup
              .getBounds()
              .getCenter()
            const zoom = map.getZoom()
            let url = `http://digital-land.github.io/map?layer=${datasetName}#${center
              .lat},${center
              .lng},${zoom}z`
              console
              .log(url)
            if ($nationalMapLink) {
              // only show this for the datasets we've added to the national map
              $nationalMapLink.href = url
              $nationalMapLink
                .classList
                .remove("js-hidden")
            }
          }
        }

        {% if geometry_url %}
          mapParams.geojsonURLs = ["{{ geometry_url }}"]
        {% elif geojson_features %}
          mapParams.geojsonFeatures = [{{ geojson_features|tojson }}]
        {% endif %}

        const mapComponent = new DLMaps
          .Map($mapElement)
          .init(mapParams)
      </script>
    {% endif %}

    <script>
      const $subNavTabs = document.querySelector('[data-module="dl-subnav"]')
      const subNavTabsComponent = new DLFrontend
        .SubNavTabs($subNavTabs)
        .init({})
    </script>

  {%- endblock %}
