{% extends "layouts/layout.html" %}
{% set templateName = "dl-info/entity.html" %}

{%- from "govuk_frontend_jinja/components/tabs/macro.html" import govukTabs %}
{%- from "components/map/macro.jinja" import map %}
{%- from "components/summary-card/macro.jinja" import appSummaryCard %}
{%- from "components/entity-value/macro.jinja" import entityValue %}
{%- from "components/entity-field/macro.jinja" import entityField %}
{%- from "components/back-button/macro.jinja" import dlBackButton %}

{% if row['name'] %}
  {%- set row_name = row['name'] %}
{%- elif row['reference'] %}
  {%- set row_name = row['reference'] %}
{%- else %}
  {%- set row_name = "Not Named" %}
{%- endif %}

{% set geometry_url = "/entity/" + row["entity"] | string + ".geojson" if row['typology'] == "geography" else
None %}
{% set geojson_data = entity %}

{% if geometry_url or geojson_features %}
  {% set geometry_exists = true %}
  {% set includesMap = true %}
  {% endif %}
{% if pipeline_name == 'local-plan'%}
  {% if local_plan_geojson != none %}
    {% set includesMap = true %}
    {% set geojson_data = local_plan_geojson %}
  {% endif %}
{% endif %}

{% block pageAssets %}
  {{ super() }}
  <link rel="stylesheet" href="https://unpkg.com/@highlightjs/cdn-assets@11.5.1/styles/stackoverflow-light.min.css">
  <script src="https://unpkg.com/@highlightjs/cdn-assets@11.5.1/highlight.min.js"></script>
{% endblock %}

{%- block mapAssets %}
  <script src='/static/javascripts/maplibre-gl.js'></script>
  <link href='/static/stylesheets/maplibre-gl.css' rel='stylesheet' />
  <script src='https://api.mapbox.com/mapbox.js/plugins/turf/v2.0.2/turf.min.js'></script>
  {{ super() }}
{% endblock -%}

{%- block pageTitle %}{{ row_name }} | {{ pipeline_name|capitalize }} | Planning Data{% endblock -%}

{%- block breadcrumbs -%}
    {{ dlBackButton({
      "parentHref": '/entity/'
    })}}
{%- endblock -%}

{%- block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <span class="govuk-caption-xl">{{ pipeline_name|replace("-", " ")|capitalize }}</span>
      <h1 class="govuk-heading-xl">{{ row_name }}</h1>
    </div>

    <div class="govuk-grid-column-three-quarters">
      {% call appSummaryCard({ 'classes': 'govuk-!-margin-bottom-0' }) %}
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table_row">
              <th scope="col" class="govuk-table__header">Field</th>
              <th scope="col" class="govuk-table__header">Value</th>
              <th scope="col" class="govuk-table__header"><span class='govuk-visually-hidden'>Fact links</span></th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            {% for field in row.keys() %}
              {% if field != 'entity' %}
                {%- if field not in ["geometry","point","organisation-entity","json"] or row[field] is not none  %}
                  <tr class="govuk-table__row">
                    <th scope="row" class="app-table__header app-table__header--row">
                      {{ entityField(field,fields,dataset_fields) }}
                    </th>
                    <td class="govuk-table__cell app-table__cell">
                      {{ entityValue(field,row[field],fields,dataset_fields,organisation_entity,linked_entities)}}
                    </td>
                    {% if field is not in['dataset','organisation-entity','start-date','end-date','typology'] %}
                      <td class="govuk-table__cell govuk-!-font-size-14 govuk-!-text-align-right">
                        <a href="/fact?dataset={{row['dataset']}}&entity={{row['entity']}}&field={{field}}" class="govuk-link">Facts</a>
                      </td>
                    {% else %}
                      <td class="govuk-table__cell govuk-!-font-size-14 govuk-!-text-align-right"><span class='govuk-visually-hidden'>no fact link</span></td>
                    {% endif %}
                  </tr>
                {%- endif %}
              {% endif %}
            {% endfor %}
          </tbody>
        </table>
      {% endcall %}

      {% set jsonHTML %}
        <pre class="govuk-!-margin-0"><code class="language-json app-code-block app-code-block-overflow" tabindex="0">{{row|digital_land_to_json}}</code></pre>
      {% endset %}
      {% set geojsonHTML %}
        <pre class="govuk-!-margin-0"><code class="language-json app-code-block app-code-block-overflow" id="geojson-content" tabindex="0">Loading...</code></pre>
        {% endset %}

      {% if geometry_exists %}
          {% set params = {
            "title":"Available Code Snippets:",
            "items":[
              {
                "label":"JSON","id":"json","panel":{
                  "html":jsonHTML
                }
              },
              {
                "label":"GeoJSON","id":"geojson","panel":{
                  "html":geojsonHTML
                }
              }
            ],
            "classes": "govuk-tabs--entity  govuk-!-margin-bottom-0"
          } %}
      {% else %}
        {% set params = {
          "items":[
            {
              "label":"JSON","id":"json","panel":{
                "html":jsonHTML
              }
            }
          ],
          "classes": "govuk-tabs--entity govuk-!-margin-bottom-0"
        } %}
      {% endif %}
      {{ govukTabs(params) }}

      {% if dataset %}
      <div class="app-c-sources-panel govuk-!-margin-bottom-6">
          {{ dataset.attribution_text | render_markdown() }}
          {{ dataset.licence_text  | render_markdown()}}
      </div>
      {% endif %}

    </div>

    {% if local_plans['local-plan'] %}
    <div class="govuk-grid-column-three-quarters govuk-!-margin-top-6 govuk-!-margin-bottom-6">
      {% call appSummaryCard({
      'classes': 'govuk-!-margin-bottom-0',
      'titleText': 'Related Local Plans'
      }) %}
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header" style="white-space: nowrap;">Reference</th>
            <th scope="col" class="govuk-table__header" style="white-space: nowrap;">Local Plan Name</th>
            <th scope="col" class="govuk-table__header" style="white-space: nowrap;">Documentation URL</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          {% for plan in local_plans['local-plan'] %}
          <tr class="govuk-table__row">
            <td class="govuk-table__cell app-table__cell">
              <a class="govuk-link" href="{{ plan.entity }}">{{ plan.entity}}</a>
            </td>
            <td class="govuk-table__cell app-table__cell">{{ plan.name }}</td>
            <td class="govuk-table__cell app-table__cell">
              <a class="govuk-link" href="{{ plan.documentation_url }}">{{ plan.documentation_url }}</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% endcall %}
    </div>
    {% elif entity.dataset == "local-plan-boundary" %}
    <div class="govuk-grid-column-three-quarters govuk-!-margin-top-6 govuk-!-margin-bottom-6">
      {% call appSummaryCard({
      'classes': 'govuk-!-margin-bottom-0',
      'titleText': 'Related Local Plans'
      }) %}
      <table class="govuk-table">
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td colspan="2" class="govuk-table__cell govuk-body">
              No related local plans are available for this entity.
            </td>
          </tr>
        </tbody>
      </table>
      {% endcall %}
    </div>
    {% endif %}

    {% if local_plans['local-plan-timetable'] %}
    <div class="govuk-grid-column-three-quarters govuk-!-margin-top-6 govuk-!-margin-bottom-6">
      {% call appSummaryCard({
      'classes': 'govuk-!-margin-bottom-0',
      'titleText': 'Related Local Plan Timetable'
      }) %}
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header" style="white-space: nowrap;">Entity</th>
            <th scope="col" class="govuk-table__header" style="white-space: nowrap;">Reference</th>
            <th scope="col" class="govuk-table__header" style="white-space: nowrap;">Name</th>
            <th scope="col" class="govuk-table__header" style="white-space: nowrap;">Event Date</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          {% for plan in local_plans['local-plan-timetable'] %}
          <tr class="govuk-table__row">
            <td class="govuk-table__cell app-table__cell">
              <a class="govuk-link" href="{{ plan.entity }}">{{ plan.entity}}</a>
            </td>
            <td class="govuk-table__cell app-table__cell">{{ plan.reference }}</td>
            <td class="govuk-table__cell app-table__cell">{{ plan.name }}</td>
            <td class="govuk-table__cell app-table__cell">{{ plan.event_date }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% endcall %}
    </div>
    {% elif entity.dataset == "local-plan-timetable" %}
    <div class="govuk-grid-column-three-quarters govuk-!-margin-top-6 govuk-!-margin-bottom-6">
      {% call appSummaryCard({
      'classes': 'govuk-!-margin-bottom-0',
      'titleText': 'Related Local Plan Timetable'
      }) %}
      <table class="govuk-table">
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td colspan="2" class="govuk-table__cell govuk-body">
              No related local plan timetable are available for this entity.
            </td>
          </tr>
        </tbody>
      </table>
      {% endcall %}
    </div>
    {% endif %}

    {% if local_plans['local-plan-document'] %}
    <div class="govuk-grid-column-three-quarters govuk-!-margin-top-6 govuk-!-margin-bottom-6">
      {% call appSummaryCard({
      'classes': 'govuk-!-margin-bottom-0',
      'titleText': 'Related Local Plan Document'
      }) %}
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header" style="white-space: nowrap;">Entity</th>
            <th scope="col" class="govuk-table__header" style="white-space: nowrap;">Name</th>
            <th scope="col" class="govuk-table__header" style="white-space: nowrap;">Category</th>
            <th scope="col" class="govuk-table__header" style="white-space: nowrap;">Document URL</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          {% for plan in local_plans['local-plan-document'] %}
          <tr class="govuk-table__row">
            <td class="govuk-table__cell app-table__cell">
              <a class="govuk-link" href="{{ plan.entity }}">{{ plan.entity}}</a>
            </td>
            <td class="govuk-table__cell app-table__cell">{{ plan.name }}</td>
            <td class="govuk-table__cell app-table__cell">{{ plan.document_types }}</td>
            <td class="govuk-table__cell app-table__cell">
              <a class="govuk-link" href="{{ plan.documentation_url }}">{{ plan.documentation_url }}</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% endcall %}
    </div>
    {% elif entity.dataset == "local-plan-document" %}
    <div class="govuk-grid-column-three-quarters govuk-!-margin-top-6 govuk-!-margin-bottom-6">
      {% call appSummaryCard({
      'classes': 'govuk-!-margin-bottom-0',
      'titleText': 'Related Local Plan Document'
      }) %}
      <table class="govuk-table">
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td colspan="2" class="govuk-table__cell govuk-body">
              No related local plan document are available for this entity.
            </td>
          </tr>
        </tbody>
      </table>
      {% endcall %}
    </div>
    {% endif %}
    <div class="govuk-grid-column-full govuk-!-margin-top-6"></div>

    <div class="govuk-grid-column-full">
    {% block recordGeometry -%}
      {%- if includesMap %}
        {% call appSummaryCard({
          'classes': 'govuk-!-margin-bottom-0',
          'titleText': 'Local Plan Boundary' if pipeline_name == 'local-plan' else 'Geographical area',
          'actions': {
            'items': [
              {
                'text': 'Download geojson',
                'href': (
                '/entity/' +
                (geojson_data["entity"] if pipeline_name == 'local-plan' else row["entity"]) | string +
                '.geojson'
              ),
                'attributes': [
                  {
                    'key': 'download',
                    'value': (geojson_data["entity"] if pipeline_name == 'local-plan' else row["entity"])
                      | string + '.geojson'
                  }
                ]
              }
            ],
          }
        })%}

        {{
          map({
            "mapId": "map",
            'height': 460,
            'enableZoomControls': true,
            'geojsons': [geojson_data|get_entity_geometry],
            'paint_options': dataset.paint_options,
          })
        }}
          {% endcall %}
      {%- endif %}
    {%- endblock recordGeometry %}
    </div>

    {%- if history_enabled %}
      <div id="history">
        {#{%- block entryHistory %}#}
        {#{%- endblock entryHistory %}#}
      </div>
    {%- endif %}

    {%- if provenance %}
      <div id="provenance">
        <h2 class="govuk-heading-m dl-subnav__heading">Provenance</h2>
      </div>
    {% endif -%}

    {% block recordReferences -%}
      {% if references %}
        <div id="referenced-by">
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
              <h2 class="govuk-heading-m dl-subnav__heading">Referenced by</h2>
              <p class="govuk-body">This record is referenced by {{ references|total_items }} other planning related data record{{ "" if references|total_items == 1 else "s" }}.</p>
              {% if references|length > 0 -%}
                {% for type, refs in references.items() %}
                  <h3 class="govuk-heading-s">{{ type|capitalize }}</h3>
                  <ul class="govuk-list govuk-list--bullet">
                    {%- for ref in refs %}
                      <li>
                        <a href={{ entity_prefix|default('') }}{{ ref["href"] }}>{{ ref["text"] }}</a>
                        <span class="secondary-text data-reference">({{ ref["id"] }})</span>
                      </li>
                    {% endfor -%}
                  </ul>
                {% endfor %}
              {% endif -%}
            </div>
          </div>
        </div>
      {% endif %}
    {% endblock recordReferences -%}

  </div>
{%- endblock content %}}

{%- block pageScripts %}

<script>
  document.addEventListener('DOMContentLoaded', function () {
      // Function to handle loading GeoJSON content
      function loadGeoJSON() {
          const geojsonContentElement = document.getElementById('geojson-content');
          if (geojsonContentElement && geojsonContentElement.innerHTML === 'Loading...') {
              // Fetch the GeoJSON content
              fetch('{{ geometry_url }}')
                  .then(response => response.text())
                  .then(data => {
                      geojsonContentElement.innerHTML = JSON.stringify(JSON.parse(data), null, 4);
                  })
                  .catch(error => {
                      console.error('Error loading GeoJSON:', error);
                      geojsonContentElement.innerHTML = 'Error loading GeoJSON content';
                  });
          }
      }

      // Add click event listener for GeoJSON tab
      document.querySelector('#tab_geojson').addEventListener('click', function () {
          loadGeoJSON();
      });

      // Check the fragment identifier on page load
      if (window.location.hash === '#geojson') {
          // Simulate a click event on the GeoJSON tab
          document.querySelector('#tab_geojson').click();
      }
  });
</script>
{%- endblock %}
