{% extends "layouts/layout.html" %}
{% set templateName = "dl-info/entity.html" %}

{%- from "govuk_frontend_jinja/components/tabs/macro.html" import govukTabs %}
{%- from "components/map/macro.jinja" import map %}
{%- from "components/summary-card/macro.jinja" import appSummaryCard %}
{%- from "components/entity-value/macro.jinja" import entityValue %}
{%- from "components/entity-field/macro.jinja" import entityField %}
{%- from "components/back-button/macro.jinja" import dlBackButton %}

{% set is_truncated = false %}
{% if row['geometry'] %}
  {% if row['geometry']|length > 100000 %}
    {% set is_truncated = true %}
  {% endif %}
{% endif %}





{% if row['name'] %}
  {%- set row_name = row['name'] %}
{%- elif row['reference'] %}
  {%- set row_name = row['reference'] %}
{%- else %}
  {%- set row_name = "Not Named" %}
{%- endif %}

{% set geometry_url = "/entity/" + row["entity"] | string + ".geojson" if row['typology'] == "geography" else None %}
{% set geometry_json_url = "/entity/" + row["entity"] | string + ".json" if row['typology'] == "geography" else None %}
{% set geojson_data = entity %}

{% if geometry_url or geojson_features %}
  {% set geometry_exists = true %}
  {% set includesMap = true %}
{% endif %}

{% if pipeline_name == 'local-plan'%}
  {% if local_plan_geojson != none %}
    {% set includesMap = true %}
    {% set geojson_data = local_plan_geojson %}
  {% endif %}
{% endif %}

{% block pageAssets %}
  {{ super() }}
  <link rel="stylesheet" href="https://unpkg.com/@highlightjs/cdn-assets@11.5.1/styles/stackoverflow-light.min.css">
  <script src="https://unpkg.com/@highlightjs/cdn-assets@11.5.1/highlight.min.js"></script>
{% endblock %}

{%- block mapAssets %}
  <script src='/static/javascripts/maplibre-gl.js'></script>
  <link href='/static/stylesheets/maplibre-gl.css' rel='stylesheet' />
  <script src='https://api.mapbox.com/mapbox.js/plugins/turf/v2.0.2/turf.min.js'></script>
  {{ super() }}
{% endblock -%}

{%- block pageTitle %}{{ row_name }} | {{ dataset.name }} | Planning Data{% endblock -%}

{%- block breadcrumbs -%}
    {{ dlBackButton({
      "parentHref": '/entity/'
    })}}
{%- endblock -%}

{%- block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <span class="govuk-caption-xl">{{ dataset.name }}</span>
      <h1 class="govuk-heading-xl">{{ row_name }}</h1>
    </div>

    <div class="govuk-grid-column-three-quarters">
      {% call appSummaryCard({ 'classes': 'govuk-!-margin-bottom-0' }) %}
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table_row">
              <th scope="col" class="govuk-table__header">Field</th>
              <th scope="col" class="govuk-table__header">Value</th>
              <th scope="col" class="govuk-table__header"><span class='govuk-visually-hidden'>Fact links</span></th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            {% for field in row.keys() %}
              {% if field != 'entity'%}
              {%- if field not in ["geometry","point","organisation-entity","json"] or row[field] is not none  %}
              <tr class="govuk-table__row">
                <th scope="row" class="app-table__header app-table__header--row">
                  {{ entityField(field, fields, dataset_fields) }}
                </th>
                <td class="govuk-table__cell app-table__cell">
                  {% if field == 'geometry' %}
                    <code class ="app-code-block" id="geometry-content">
                      {% if row[field] is not none %}
                        {{ row[field][:100000] }}{% if row[field]|length > 100000 %}... <a href="javascript:void(0);" onclick="expandGeometry()">Load More</a>{% endif %}
                      {% endif %}
                      </code>
                    <code class ="app-code-block" id="geometry-full-content" style="display: none;">
                      {{ row[field] }}
                    </code>
                  {% else %}
                    {{ entityValue(field, row[field], fields, dataset_fields, organisation_entity, linked_entities, dataset) }}
                  {% endif %}
                </td>
                {% if field not in ['curie', 'dataset', 'organisation-entity', 'start-date', 'end-date', 'typology'] %}
                  <td class="govuk-table__cell govuk-!-font-size-14 govuk-!-text-align-right">
                    <a href="/fact?dataset={{ row['dataset'] }}&entity={{ row['entity'] }}&field={{ field }}" class="govuk-link">Facts</a>
                  </td>
                    {% else %}
                      <td class="govuk-table__cell govuk-!-font-size-14 govuk-!-text-align-right"><span class='govuk-visually-hidden'>no fact link</span></td>
                    {% endif %}
                  </tr>
                {%- endif %}
              {% endif %}
            {% endfor %}
          </tbody>
          <script>
            function expandGeometry() {
              document.getElementById('geometry-content').style.display = 'none';
              document.getElementById('geometry-full-content').style.display = 'block';
            }
          </script>

        </table>
      {% endcall %}

      {% set data_to_send = {
        'row': row,
        'is_truncated': is_truncated
      } %}
      {% set jsonHTML %}
      {% if is_truncated %}
      <div class="govuk-inset-text" style="font-size: 15px; margin-top: -10px;">
       The geometry is too large to be included in the JSON below. Download JSON for the full geometry.
       </div>
      <a href="{{geometry_json_url}}"
      id = "download-json-button"
      class="govuk-button"
      style="margin-bottom: 10px; margin-top: -10px;"
      download>
      <span id="download-text">Download JSON</span>
      <div id="spinner" style="display: none;">
        <div class="dl-map__spinning-loader" style="width: 10px; height: 10px;margin-top: -25px "></div>
     </div>
    </a>

        <pre class="govuk-!-margin-0"><code class="language-json app-code-block app-code-block-overflow" tabindex="0">{{ data_to_send | digital_land_to_json | safe }}
        </code></pre>
      {% else %}
      <pre class="govuk-!-margin-0"><code class="language-json app-code-block app-code-block-overflow" tabindex="0">{{ data_to_send | digital_land_to_json | safe }}</code></pre>
      {% endif %}
      {% endset %}
      {% set geojsonHTML %}
        <pre class="govuk-!-margin-0"><code class="language-json app-code-block app-code-block-overflow" id="geojson-content" tabindex="0">Loading...</code></pre>
        {% endset %}

      {% if geometry_exists %}
          {% set params = {
            "title":"Available Code Snippets:",
            "items":[
              {
                "label":"JSON","id":"json","panel":{
                  "html":jsonHTML
                }
              },
              {
                "label":"GeoJSON","id":"geojson","panel":{
                  "html":geojsonHTML
                }
              }
            ],
            "classes": "govuk-tabs--entity  govuk-!-margin-bottom-0"
          } %}
      {% else %}
        {% set params = {
          "items":[
            {
              "label":"JSON","id":"json","panel":{
                "html":jsonHTML
              }
            }
          ],
          "classes": "govuk-tabs--entity govuk-!-margin-bottom-0"
        } %}
      {% endif %}
      {{ govukTabs(params) }}

      {% if dataset %}
      <div class="app-c-sources-panel govuk-!-margin-bottom-6">
          {{ dataset.attribution_text | render_markdown() }}
          {{ dataset.licence_text  | render_markdown()}}
      </div>
      {% endif %}

    </div>

    {% if local_plans['local-plan'] %}
    <div class="govuk-grid-column-three-quarters govuk-!-margin-top-6 govuk-!-margin-bottom-6">
      {% call appSummaryCard({
      'classes': 'govuk-!-margin-bottom-0',
      'titleText': 'Related Local Plans'
      }) %}
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header" style="white-space: nowrap;">Entity</th>
            <th scope="col" class="govuk-table__header" style="white-space: nowrap;">Local Plan Name</th>
            <th scope="col" class="govuk-table__header" style="white-space: nowrap;">Documentation URL</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          {% for plan in local_plans['local-plan'] %}
          <tr class="govuk-table__row">
            <td class="govuk-table__cell app-table__cell">
              <a class="govuk-link" style="white-space: nowrap;" href="{{ plan.entity }}">{{ plan.entity}}</a>
            </td>
            <td class="govuk-table__cell app-table__cell">{{ plan.name }}</td>
            <td class="govuk-table__cell app-table__cell">
              <a class="govuk-link" href="{{ plan.documentation_url }}">{{ plan.documentation_url }}</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% endcall %}
    </div>
    {% elif entity.dataset == "local-plan-boundary" %}
    <div class="govuk-grid-column-three-quarters govuk-!-margin-top-6 govuk-!-margin-bottom-6">
      {% call appSummaryCard({
      'classes': 'govuk-!-margin-bottom-0',
      'titleText': 'Related Local Plans'
      }) %}
      <table class="govuk-table">
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td colspan="2" class="govuk-table__cell govuk-body">
              No related local plans are available for this entity.
            </td>
          </tr>
        </tbody>
      </table>
      {% endcall %}
    </div>
    {% endif %}

    {% if local_plans['local-plan-timetable'] %}
      <div class="govuk-grid-column-three-quarters govuk-!-margin-top-6 govuk-!-margin-bottom-6">
        {% call appSummaryCard({
            'classes': 'govuk-!-margin-bottom-0',
            'titleText': 'Related Local Plan Timetable'
        }) %}
        <ol class="dl-timeline dl-timeline--dates">
            {% for plan in local_plans['local-plan-timetable'] %}
            {% if plan.local_plan_event %}
            <li class="dl-timeline__entry">
              <h3 class="govuk-heading-s dl-timeline__entry-heading">
                    {{ plan.local_plan_event.name }}
                </h3>
                <p class="dl-timeline__entry-details govuk-body-s">
                    {{ plan.event_date | format_date}}
                </p>
                <div class="dl-timeline__entry__content">
                    <p class="govuk-body">
                      <a class="govuk-link" style="white-space: nowrap;" href="{{ plan.entity }}">{{ plan.entity}}</a>
                    </p>
                </div>
            </li>
            {% endif %}
            {% endfor %}
        </ol>
        {% endcall %}
    </div>
  {% endif %}

    {% if local_plans['local-plan-document'] %}
    <div class="govuk-grid-column-three-quarters govuk-!-margin-top-6 govuk-!-margin-bottom-6">
      {% call appSummaryCard({
      'classes': 'govuk-!-margin-bottom-0',
      'titleText': 'Related Local Plan Document'
      }) %}
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header" style="white-space: nowrap;">Entity</th>
            <th scope="col" class="govuk-table__header" style="white-space: nowrap;">Name</th>
            <th scope="col" class="govuk-table__header" style="white-space: nowrap;">Category</th>
            <th scope="col" class="govuk-table__header" style="white-space: nowrap;">Document URL</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          {% for plan in local_plans['local-plan-document'] %}
          <tr class="govuk-table__row">
            <td class="govuk-table__cell app-table__cell">
              <a class="govuk-link" style="white-space: nowrap;" href="{{ plan.entity }}">{{ plan.entity}}</a>
            </td>
            <td class="govuk-table__cell app-table__cell">{{ plan.name }}</td>
            <td class="govuk-table__cell app-table__cell">{{ plan.document_types }}</td>
            <td class="govuk-table__cell app-table__cell">
              <a class="govuk-link" href="{{ plan.documentation_url }}">{{ plan.documentation_url }}</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% endcall %}
    </div>
    {% endif %}
    <div class="govuk-grid-column-full govuk-!-margin-top-6"></div>

    <div class="govuk-grid-column-full">
    {% block recordGeometry -%}
      {%- if includesMap %}
        {% call appSummaryCard({
          'classes': 'govuk-!-margin-bottom-0',
          'titleText': 'Local Plan Boundary' if pipeline_name == 'local-plan' else 'Geographical area',
          'actions': {
            'items': [
              {
                'text': 'Download geojson',
                'href': (
                '/entity/' +
                (geojson_data["entity"] if pipeline_name == 'local-plan' else row["entity"]) | string +
                '.geojson'
              ),
                'attributes': [
                  {
                    'key': 'download',
                    'value': (geojson_data["entity"] if pipeline_name == 'local-plan' else row["entity"])
                      | string + '.geojson'
                  }
                ]
              }
            ],
          }
        })%}

        {{
          map({
            "mapId": "map",
            'height': 460,
            'enableZoomControls': true,
            'geojsons': [geojson_data|get_entity_geometry],
            'paint_options': dataset.paint_options,
          })
        }}
          {% endcall %}
      {%- endif %}
    {%- endblock recordGeometry %}
    </div>

    {%- if history_enabled %}
      <div id="history">
        {#{%- block entryHistory %}#}
        {#{%- endblock entryHistory %}#}
      </div>
    {%- endif %}

    {%- if provenance %}
      <div id="provenance">
        <h2 class="govuk-heading-m dl-subnav__heading">Provenance</h2>
      </div>
    {% endif -%}

    {% block recordReferences -%}
      {% if references %}
        <div id="referenced-by">
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
              <h2 class="govuk-heading-m dl-subnav__heading">Referenced by</h2>
              <p class="govuk-body">This record is referenced by {{ references|total_items }} other planning related data record{{ "" if references|total_items == 1 else "s" }}.</p>
              {% if references|length > 0 -%}
                {% for type, refs in references.items() %}
                  <h3 class="govuk-heading-s">{{ type|capitalize }}</h3>
                  <ul class="govuk-list govuk-list--bullet">
                    {%- for ref in refs %}
                      <li>
                        <a href={{ entity_prefix|default('') }}{{ ref["href"] }}>{{ ref["text"] }}</a>
                        <span class="secondary-text data-reference">({{ ref["id"] }})</span>
                      </li>
                    {% endfor -%}
                  </ul>
                {% endfor %}
              {% endif -%}
            </div>
          </div>
        </div>
      {% endif %}
    {% endblock recordReferences -%}

  </div>

  {% include "partials/feedback.html" %}
{%- endblock content %}}

{%- block pageScripts %}



<script>
  document.addEventListener('DOMContentLoaded', function () {
      // Function to handle loading GeoJSON content
      function loadGeoJSON() {
          const geojsonContentElement = document.getElementById('geojson-content');
          if (geojsonContentElement && geojsonContentElement.innerHTML === 'Loading...') {
              // Fetch the GeoJSON content
              fetch('{{ geometry_url }}')
                  .then(response => response.text())
                  .then(data => {
                      geojsonContentElement.innerHTML = JSON.stringify(JSON.parse(data), null, 4);
                  })
                  .catch(error => {
                      console.error('Error loading GeoJSON:', error);
                      geojsonContentElement.innerHTML = '<b>Too large to display. Download GeoJSON instead.</b ';
                      // Create and append the download button
                      const downloadButton = document.createElement('a');
                      downloadButton.href = '{{ geometry_url }}';
                      downloadButton.className = 'govuk-button';
                      downloadButton.style.marginTop = '10px';
                      downloadButton.style.marginBottom = '10px';
                      downloadButton.textContent = 'Download GeoJSON';
                      downloadButton.setAttribute('id','download-geojson-button')
                      downloadButton.setAttribute('download', '{{ row["entity"] }}.geojson');
                      geojsonContentElement.parentElement.appendChild(downloadButton);

                      const spinnerDiv = document.createElement('div');
                      spinnerDiv.id = 'spinner1';
                      spinnerDiv.style.display = 'none'; // Hide the spinner initially

                      // Create the spinner loader
                      const spinnerLoader = document.createElement('div');
                      spinnerLoader.className = 'dl-map__spinning-loader';
                      spinnerLoader.style.width = '10px';
                      spinnerLoader.style.height = '10px';
                      spinnerLoader.style.marginTop = '-25px';

                      // Append the spinner loader inside the spinner div
                      spinnerDiv.appendChild(spinnerLoader);

                      // Append the spinner div to the geojsonContentElement
                      downloadButton.appendChild(spinnerDiv);

                      downloadButton.addEventListener('click', async function(event) {
                          console.info("hello")
                          event.preventDefault();

                          // Show the spinner and disable the download button
                          spinnerDiv.style.display = 'block';
                          downloadButton.disabled = true;

                          try {
                              // Simulate downloading the GeoJSON (you can replace this with the actual download logic)
                              const response = await fetch('{{ geometry_url }}');
                              if (!response.ok) {
                                  throw new Error('Failed to fetch the file');
                              }
                              const blob = await response.blob();

                              // Create a Blob URL and trigger the download
                              const url = URL.createObjectURL(blob);
                              const a = document.createElement('a');
                              a.href = url;
                              a.download = '{{ row["entity"] }}.geojson'; // Set the file name
                              document.body.appendChild(a);
                              a.click();
                              document.body.removeChild(a);

                              // Clean up the Blob URL
                              URL.revokeObjectURL(url);
                          } catch (error) {
                              console.error('Error during download:', error);
                          } finally {
                              // Hide the spinner and enable the download button after download
                              spinnerDiv.style.display = 'none';
                              downloadButton.disabled = false;
                          }
                      });
                  });
          }
      }

      // Add click event listener for GeoJSON tab
      document.querySelector('#tab_geojson').addEventListener('click', function () {
          loadGeoJSON();
      });

      // Check the fragment identifier on page load
      if (window.location.hash === '#geojson') {
          // Simulate a click event on the GeoJSON tab
          document.querySelector('#tab_geojson').click();
      }
  });

  document.getElementById('download-json-button').addEventListener('click', async function (event) {
    event.preventDefault();
    const downloadButton = document.getElementById("download-json-button");
    //const downloadText = document.getElementById("download-text");
    const spinner = document.getElementById("spinner");

    // Show spinner and disable button
    downloadButton.disabled = true;
    spinner.style.display = "block";
    //downloadText.style.display = "none";

    try {
      // Fetch the file content
      const response = await fetch("{{geometry_json_url}}");
      if (!response.ok) {
        throw new Error("Failed to fetch the file");
      }
      const blob = await response.blob();
      // Create a Blob URL and trigger the download
      const url = URL.createObjectURL(blob);
      const a = document.createElement("a");
      a.href = url;
      a.download = "{{ row['entity'] }}.json";
      document.body.appendChild(a);

      a.click();
      document.body.removeChild(a);

      // Clean up the Blob URL
      URL.revokeObjectURL(url);
    } catch (error) {
      console.error("Error during download:", error);
    } finally {
      // Restore button and hide spinner
      downloadButton.disabled = false;
      spinner.style.display = "none";
      //downloadText.style.display = "inline";
    }
  });
</script>
{%- endblock %}
