{% extends "layouts/layout.html" %}
{% set templateName = "dl-info/entity-gone.html" %}

{%- block content %}

  {% block recordHead %}
    {% block recordTitle -%}
      <span class="govuk-caption-xl">Entity Removed</span>
      <h1 class="govuk-heading-xl">Entity Removed</h1>
    {%- endblock recordTitle %}
  {% endblock recordHead %}

  <p class="govuk-body">
    This entity (#{{entity}}) has been removed.
  </p>

  {%- endblock content %}

  {% block recordEnd %}{% endblock recordEnd %}

  {% block footerStart %}
    {%- from "digital-land-frontend/components/feedback/macro.jinja" import dlFeedback %}
    {% set subject = "Feedback on removed entity with number " + entity %}
    {{ dlFeedback({
        "text": "Spotted an issue? Let us know so we can improve the data.",
        "action": {
            "text": "There is something wrong with the data",
            "href": "mailto:" + templateVar.email  + "?subject=" + subject
        },
        "container": true
        })
      }}
  {% endblock footerStart %}

  {%- block pageScripts %}{%- endblock %}
