{% extends "layouts/layout.html" %}
{% set templateName = "dl-info/entity-gone.html" %}

{%- block content %}

  {% block recordHead %}
    {% block recordTitle -%}
      <span class="govuk-caption-xl">Entity Removed</span>
      <h1 class="govuk-heading-xl">Entity Removed</h1>
    {%- endblock recordTitle %}
  {% endblock recordHead %}

  <p class="govuk-body">
    This entity (#{{entity}}) has been removed.
  </p>

  {%- endblock content %}

  {% block recordEnd %}{% endblock recordEnd %}

  {%- block pageScripts %}{%- endblock %}
