{% from "components/hero/macro.jinja" import appHero %}
{% extends "layouts/layout.html" %}
{% block pageTitle %}Planning Data{% endblock %}
{% set templateName = "dl-info/homepage.html" %}

{% block main %}
  <main id="content">
    {{
      appHero({
        'title': {
          'text': 'Find planning and housing data that is easy to understand, use and trust'
        },
        'description': {
          'html': 'A platform to help you create services to inform planning and housing decisions in England.',
        },
        'image': {
          'src': '/static/images/proposition-image.svg',
        },
        'cta': {
          'text': 'Learn more',
          'link': {
            'text': 'about the platform',
            'href': '/about',
          }
        },
        'classes': 'app-hero--large govuk-!-margin-bottom-9',
      })
    }}

    <div id="feature-list" class="govuk-width-container">

      {% macro _feature(params) %}
        <section aria-label="{{ params.title }}" class="govuk-grid-row govuk-!-margin-bottom-8" id="{{ params.title | slugify }}">
          <div class="govuk-grid-column-one-half">
            {% if params.title %}{% else %}{% endif %}
            <h2 class="govuk-heading-m">{% if params.title %}{{ params.title }}{% else %}Please add a title{% endif %}</h2>
            {% if caller %}
              {{ caller( )}}
            {% else %}
              <p class="govuk-body">{% if params.description %}{{ params.description }}{% else %}Please describe this feature{% endif %}</p>
            {% endif %}
            {% if params.link %}
              <p class="govuk-body">
                <a href="{{ params.link.href }}" class="govuk-link">{{ params.link.text }}</a>
              </p>
            {% endif %}
          </div>
          <!-- /.govuk-grid-column-one-half -->
          {% if params.image %}
            <div class="govuk-grid-column-one-half">
              <img src="{{ url_for("static", path=params.image.src) }}.png" srcset="/static{{ params.image.src }}.svg" role="{{ 'img' if params.image.alt else 'presentation' }}" alt="{{ params.image.alt if params.image.alt else '' }}" class="app-max-width--100">
            </div>
            <!-- /.govuk-grid-column-one-half -->
          {% endif %}
        </section>
        <!-- /#explore.govuk-grid-row -->
        {% if not params.sectionBreak == False %}
          <hr class="govuk-section-break govuk-width-container govuk-section-break--visible govuk-section-break--xl" role="presentation">
        {% endif %}
      {% endmacro %}

      {{
        _feature({
          'title': 'Explore data on a map',
          'description': 'View planning and housing datasets with geographic location data on an interactive map.',
          'image': {
            'src': '/images/explore',
          },
          'link': {
            'href': '/map/',
            'text': 'Explore the map of planning data for England'
          },
        })
      }}

      {{
        _feature({
          'title': 'Search and filter data',
          'description': 'Find and download the data you want in bulk.',
          'image': {
            'src': '/images/search',
          },
          'link': {
            'href': '/entity',
            'text': 'Search planning and housing data'
          },
        })
      }}

      {{
        _feature({
          'title': 'Understand the data',
          'description': 'Read about why data is important to planning and how the data is created.',
          'image': {
            'src': '/images/datasets',
          },
          'link': {
            'href': '/dataset/',
            'text': 'Find planning and housing datasets'
          },
        })
      }}

      {{
        _feature({
          'title': 'Use the data',
          'description': 'Integrate the Planning Data API with your web application or back office system.',
          'image': {
            'src': '/images/api',
          },
          'link': {
            'href': '/docs/',
            'text': 'View the API documentation'
          },
          'sectionBreak': False
        })
      }}

    </div>
    <!-- /#feature-list -->

  </main>
{% endblock %}

{% set github_repository = "digital-land.info" %}
