{% extends "layouts/layout--full-width.html" %}
{% set templateName = "dl-info/national-map.html" %}

{%- from "components/map2/macro.jinja" import map %}

{% set containerClasses = 'dl-container--full-width' %}
{% set fullWidthHeader = true %}

{% set includesMap = true %}
{% block pageTitle %}National map of planning data | Planning Data{% endblock %}

{%- block mapAssets %}
  <script src="https://unpkg.com/maplibre-gl@1.14.0-rc.1/dist/maplibre-gl.js"></script>
  <link href="https://unpkg.com/maplibre-gl@1.14.0-rc.1/dist/maplibre-gl.css" rel="stylesheet"/>
  {{ super() }}
{% endblock -%}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">National map of planning data</h1>
    </div>
  </div>

  <p id="aria-label-national-map" class="govuk-body-l">National map of the planning data collected and collated by Planning Data.</p>

  {{
    map({
      "id": 'test',
      'height': 700,
      'layers': layers,
      'DATASETTE_TILES_URL': settings.DATASETTE_TILES_URL,
    })
  }}

{% endblock %}

{% block bodyEnd %}
{{ super() }}


{% endblock %}
