{% extends "layouts/layout.html" %}
{% set templateName = "dl-info/organisation_index.html" %}

{% block head %}
	{{ super() }}
	<meta name="generated-date" content="{{ now }}" />
	<link rel="stylesheet" href="/static/stylesheets/application.css">
{% endblock head %}

{%- from "components/back-button/macro.jinja" import dlBackButton %}
{% block breadcrumbs%}
  {{ dlBackButton({
    "parentHref": '/'
  })}}
{% endblock %}

{% block pageTitle %}Organisations | Planning Data{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">Organisations</h1>
      <p class="govuk-body">Contents</p>
      <ul class="govuk-list govuk-list--bullet">
        {% for org_type in organisations.keys() %}
          <li>
            <a class="govuk-link" href="#{{ org_type }}">{%  if display_names.get(org_type) %}{{ display_names[org_type] }}{% else %}{{ org_type | replace("-", " ") | capitalize }}{% endif %}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

  <form class="dl-filter-organisations-list__form filter-organisations-list__form--active govuk-!-margin-bottom-9" data-module="dl-list-filter-form">
    <label class="dl-list-filter__label govuk-label govuk-!-font-weight-bold" for="filter-organisations-list">I'm looking for</label>
    <input class="dl-list-filter__input govuk-input" type="text" id="filter-organisations-list" placeholder="For example, Transport">
  </form>

  {% for org_type in organisations.keys()  %}

  <div class="govuk-grid-row dl-list-filter__count">
    <div class="govuk-grid-column-one-third">
      <h2 class="govuk-heading-m list-filter__count__name" id="{{org_type}}">{%  if display_names.get(org_type) %}{{ display_names[org_type] }}{% else %}{{ org_type | replace("-", " ") | capitalize }}{% endif %}</h2>
      <div class="dl-list-filter__count__wrapper">
        <p class="govuk-visually-hidden">There {{"is" if organisations[org_type]|length == 1 else "are"}}
          <span class="js-accessible-list-filter__count">{{ organisations[org_type]|length }}</span>
          {{org_type}}
        </p>
        <span class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-80 js-list-filter__count" aria-hidden="true">{{ organisations[org_type]|length }}</span>
      </div>
    </div>

    <div class="govuk-grid-column-two-thirds">

      <ol class="dl-list-filter__list" data-filter="list">
        {% for organisation in organisations[org_type]|sort(attribute='name')  %}
          <li class="dl-list-filter__item" data-filter="item">
            <a href="/entity/{{ organisation.entity }}" class="govuk-link dl-list-filter__item-title">{{ organisation.name }}</a>
            {% if organisation.end_date and organisation.end_date < today  %}
              <strong class="govuk-tag govuk-tag--grey">
                Dissolved
              </strong>
            {% endif %}
          </li>
        {% endfor %}
      </ol>
    </div>
  </div>
  {% endfor %}

  <div class="dl-list-filter__no-filter-match js-hidden">
		<p class="govuk-body">No dataset matches <span class="js-search-term-display"></span>.</p>
		<p class="govuk-body">
			Check <a href="https://design.planning.data.gov.uk/what-we-are-working-on">our current priorities</a> to see if
			this data is being prepared for the platform.
		</p>
		<p class="govuk-body">
			If it's not there, you can <a
				href="https://design.planning.data.gov.uk/get-involved-in-designing-data">contribute to our data design
				process</a> to help prioritise it.
		</p>
	</div>

  <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

  <h2 class="govuk-heading-s govuk-!-margin-bottom-0" id="download-the-data">
    Download the data
  </h2>
  <p class="govuk-hint govuk-!-font-size-14">You can take a copy of this data as <a class="govuk-link" href="{{ data_file_url }}/organisation-collection/dataset/organisation.csv">CSV</a>.</p>
{% endblock %}
