{% extends "layouts/layout.html" %}
{% set templateName = "dl-info/resource_index.html" %}

{% block head %}
{{ super() }}
<meta name="generated-date" content="{{ now }}" />
{% endblock head %}

{%- block beforeContent -%}
    {{ super() }}

    {{- govukBreadcrumbs({
    "items": [
        {
        "text": "Planning Data",
        "href": "/"
        },
        {
        "text": "Resources"
        }
    ]
    }) -}}
{%- endblock -%}

{% block pageTitle %}Resources | Planning Data{% endblock %}

{% block content %}
<h1 class="govuk-heading-xl">Resources</h1>



<ul class="govuk-list">
    {% for r in resources %}
        <li>
            <h3 class="govuk-heading-s" style="word-break: break-all;"><a href="{{ r['resource'] }}">{{ r['resource'] }}</a></h3>
            <ul class="govuk-list">
                <li><span>Organisation(s):</span>{% for organisation in r['organisations']|split_to_list %}
                    <a href="{{ organisation|organisation_id_to_url }}" class="govuk-link">{{ organisation|organisation_id_to_name }}</a>
                {% endfor %}</li>
                <li><span>First collected on</span> {{ r['start_date'] }}</li>
                <li><span>Last collected on</span> {{ r['end_date'] }}</li>
                <li><span>Endpoints</span> {{ r['endpoints']|split_to_list|length }}</li>
            </ul>
        </li>
    {% endfor %}
</ul>

<a>Page {{paging.current_page}} of {{paging.total_pages}}</a>
{%- if paging.current_page > 0 -%}
    <a href="/resource/?page={{paging.current_page-1}}">Previous</a>
{%- endif -%}
{%- if paging.current_page < paging.total_pages -%}
    <a href="/resource/?page={{paging.current_page+1}}">Next</a>
{%- endif -%}


{% endblock %}
