{% extends "layouts/layout.html" %}
{% block pageTitle %}Search for planning data{% endblock %}
{% set templateName = "dl-info/search.html" %}
{% set includesMap = true %}
{%- from "govuk_frontend_jinja/components/input/macro.html" import govukInput %}
{%- from "govuk_frontend_jinja/components/fieldset/macro.html" import govukFieldset %}
{%- from "govuk_frontend_jinja/components/button/macro.html" import govukButton %}
{%- from "govuk_frontend_jinja/components/tag/macro.html" import govukTag -%}
{%- from "components/back-button/macro.jinja" import dlBackButton %}
{%- from "components/entity-card/macro.jinja" import entityCard %}
{% from 'components/pagination/macro.jinja' import appPagination %}

{%- block mapAssets %}
  <script src='/static/javascripts/maplibre-gl.js'></script>
  <link href='/static/stylesheets/maplibre-gl.css' rel='stylesheet' />
  <script src='https://api.mapbox.com/mapbox.js/plugins/turf/v2.0.2/turf.min.js'></script>
  {{ super() }}
{% endblock -%}

{% block headStart %}
  {{ super() }}
  {% if url_query_params.str != "" %}
    <meta name="robots" content="noindex">
  {% endif %}
{% endblock headStart %}

{% block breadcrumbs %}
  {{ dlBackButton({
    "parentHref": '/'
  })}}
{% endblock breadcrumbs %}

{% block content %}

  <section class="govuk-width-container govuk-!-padding-bottom-6">
    <h1 class="govuk-heading-xl">Search for planning and housing data</h1>
    {% include 'partials/data-coverage-banner.html' %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">

        {% set search_form_url = "/entity" %}
        {% include 'partials/search-facets.html' %}
      </div>
      <!-- /.govuk-grid-column-one-third -->
      <div class="govuk-grid-column-two-thirds" id="search-results" role="region" aria-label="Search results" aria-busy="false">
        <div class="app-results-summary">
          <h2 class="app-results-summary__title">{{ count|commanum }} result{{ "" if count == 1 else "s" }}</h2>
          {% macro removeFilterButton(params) %}
          <a href="{{ params.url }}" class="app-applied-filter__button govuk-link" arial-label="Remove filter for {{ params.filter.name }}">
            <span class="app-facet-tag__icon" aria-hidden="true">
              <svg width="30px" height="30px" viewBox="0 0 30 30" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <g id="Group" fill="#000000" fill-rule="nonzero">
                    <path
                      d="M2.84386208,29.6395923 C2.1083442,29.6823572 1.38499138,29.4378396 0.826334681,28.9576007 C-0.275444894,27.8492707 -0.275444894,26.0592298 0.826334681,24.9508998 L24.9516952,0.825445695 C26.0976433,-0.246857017 27.8958254,-0.187248253 28.9681281,0.958699821 C29.9377765,1.99497526 29.9942972,3.58775513 29.1004465,4.69009616 L4.83294196,28.9576007 C4.28149071,29.4309149 3.56974148,29.6749646 2.84386208,29.6395923 Z"
                    ></path>
                    <path
                      d="M26.9408687,29.6395923 C26.1954316,29.6364107 25.4809686,29.3405191 24.9516952,28.8155503 L0.8262411,4.69000258 C-0.194500497,3.49801446 -0.0557253049,1.70413689 1.13626282,0.683301721 C2.20014357,-0.22776724 3.76915479,-0.22776724 4.83294196,0.683301721 L29.1004465,24.8087558 C30.2461138,25.8813393 30.3053483,27.679615 29.2327649,28.8252824 C29.1900936,28.8708545 29.1460187,28.9149294 29.1004465,28.9576007 C28.5062304,29.4743348 27.7242046,29.7212854 26.9408687,29.6395923 L26.9408687,29.6395923 Z"
                    ></path>
                  </g>
                </g>
              </svg>
            </span>
            <span class="app-facet-tag__label app-u-font-mono">{{ params.filter.value }}</span>
          </a>
          {% endmacro %}
          {% if active_filters|length > 0 %}
          <div class="app-applied-filters">
            {% if query.params and query.params.get('typology') %}
            <div class="app-applied-filter__group">
              <span class="app-applied-filter__name govuk-!-font-weight-bold">Typology:</span>
              {% for filter in query.params.get('typology') %}
              <span class="app-applied-filter__item">
                {{ removeFilterButton({
                  "filter": {
                    "name": "typology",
                    "value": filter
                  },
                  "url": "?" + filter|make_param_str('typology', url_query_params.list)
                }) }}
              </span>
              {% endfor %}
            </div>
            {% endif %}
            {% if query.params and query.params.get('dataset') %}
            <div class="app-applied-filter__group">
              <span class="app-applied-filter__name govuk-!-font-weight-bold">Dataset:</span>
              {% for filter in query.params.get('dataset') %}
              <span class="app-applied-filter__item">
                {{ removeFilterButton({
                  "filter": {
                    "name": "dataset",
                    "value": filter
                  },
                  "url": "?" + filter|make_param_str("dataset", url_query_params.list)
                }) }}
              </span>
              {% endfor %}
            </div>
            {% endif %}
            {% if query.params and query.params.get('geometry_curie') %}
            <div class="app-applied-filter__group">
              <span class="app-applied-filter__name govuk-!-font-weight-bold">Local Authority District:</span>
              {% if query.params.get('geometry_curie')|is_list %}
                {% for filter in query.params.get('geometry_curie') %}
                <span class="app-applied-filter__item">
                  {{ removeFilterButton({
                    "filter": {
                      "name": "geometry_curie",
                      "value": filter
                    },
                    "url": "?" + filter|make_param_str('geometry_curie', url_query_params.list)
                  }) }}
                </span>
                {% endfor %}
              {% else %}
              <span class="app-applied-filter__item">
                {{ removeFilterButton({
                  "filter": {
                    "name": "geometry_curie",
                    "value": query.params.get('geometry_curie')
                  },
                  "url": "?" + query.params.get('geometry_curie')|make_param_str('geometry_curie', url_query_params.list)
                }) }}
              </span>
              {% endif %}
            </div>
            {% endif %}

            {% if query.params and query.params.get('q') %}
            <div class="app-applied-filter__group">
              <span class="app-applied-filter__name govuk-!-font-weight-bold">
                {% if find_an_area_result and find_an_area_result.get('type') == 'uprn' %}
                  UPRN:
                {% elif query.params.get('q') %}
                  Postcode:
                {% else %}
                  Area:
                {% endif %}
              </span>
              <span class="app-applied-filter__item">
                {{ removeFilterButton({
                  "filter": {
                    "name": "area",
                    "value": query.params.get('q')
                  },
                  "url": "?" + query.params|make_url_param_str(exclude_params=['q', 'latitude', 'longitude'])
                }) }}
              </span>
            </div>
            {% endif %}

            {% if query.params and query.params.get('organisation_entity') %}
              <div class="app-applied-filter__group">
                <span class="app-applied-filter__name govuk-!-font-weight-bold">Organisation:</span>
                  {% for filter in query.params.get('organisation_entity') %}
                    {% set str_org_entity = filter | string %}
                    <span class="app-applied-filter__item">
                      {{ removeFilterButton({
                      "filter": {
                      "name": "organisation_entity",
                      "value": str_org_entity
                      },
                      "url": "?" + str_org_entity|make_param_str('organisation_entity', url_query_params.list)
                      }) }}
                    </span>
                  {% endfor %}
              </div>
            {% endif %}

            {% if query.params and query.params.get('period') %}
            <div class="app-applied-filter__group">
              <span class="app-applied-filter__name govuk-!-font-weight-bold">Period:</span>
              {% for filter in query.params.get('period') %}
                <span class="app-applied-filter__item">
                  {{ removeFilterButton({
                    "filter": {
                      "name": "period",
                      "value": filter|replace('PeriodOption.', '')
                    },
                    "url": "?" + filter|make_param_str("period", url_query_params.list)
                  }) }}
                </span>
              {% endfor %}
            </div>
            {% endif %}

            {% if query.params and query.params.get('entry_date_match') %}
            <div class="app-applied-filter__group">
              <span class="app-applied-filter__name govuk-!-font-weight-bold">Entries:</span>
              <span class="app-applied-filter__item">
                {{ removeFilterButton({
                  "filter": {
                    "name": "entries",
                    "value": query.params.get('entry_date_match')
                  },
                  "url": "#"
                }) }}
              </span>
            </div>
            {% endif %}
          </div>
          {% endif %}
          <!-- /.app-facets-summary -->
        </div>
        <!-- /.app-results-summary -->

        {% if data and data|count > 0 %}
        <div class="app-results-body">

          <ul class="app-results-list">
            {% for row in data %}
              {{ entityCard(row,row|get_entity_paint_options(datasets)) }}
            {% endfor %}
          </ul>
          <!-- /.app-results-list -->

          {% if prev_url and next_url %}
          <div class="app-pagination__wrapper govuk-!-margin-bottom-7">
          {{ appPagination({
            "next": {
              "href": next_url,
              "text": "Show next "+ limit|string + " entities"
            },
            "prev":{
              "href":prev_url,
              "text": "Show previous "+ limit|string + " entities"
            }
          }) }}
          </div>
          {% elif next_url %}
          <div class="app-pagination__wrapper govuk-!-margin-bottom-7">
            {{ appPagination({
              "next": {
                "href": next_url,
                "text": "Show next "+ limit|string + " entities"
              }
            }) }}
          </div>
          {% elif prev_url %}
          <div class="app-pagination__wrapper govuk-!-margin-bottom-7">
            {{ appPagination({
              "prev": {
                "href": prev_url,
                "text": "Show previous "+ limit|string + " entities"
              }
            }) }}
          </div>
          {% endif %}
          <!-- /.app-pagination__wrapper -->

          {# Anything within this div becomes 'sticky' to the bottom upon scroll #}
          <div class="app-results-footer app-results-footer--sticky">

            <div class="app-results-actions">
              <h3 class="app-results-actions__title govuk-heading-s">Download these results</h3>
              <div class="app-results-actions__row">
                <div class="app-results-actions__row-title">
                  <p class="govuk-body">Format:</p>
                </div>
                <div class="app-results-actions__row-content">
                  <ul class="app-list app-list--files">
                    <li class="app-list__item">
                      {% if url_query_params.str == "" %}
                      <a href="/entity.json" class="govuk-link">JSON</a>
                      {% else %}
                      <a href="/entity.json?{{ url_query_params.str }}" class="govuk-link">JSON</a>
                      {% endif %}
                    </li>
                    {% if has_geographies %}
                      <li class="app-list__item">
                        {% if url_query_params.str == "" %}
                        <a href="/entity.geojson" class="govuk-link">GeoJSON</a>
                        {% else %}
                        <a href="/entity.geojson?{{ url_query_params.str }}" class="govuk-link">GeoJSON</a>
                        {% endif %}
                      </li>
                    {% endif %}
                  </ul>
                </div>
              </div>
            </div>

          </div>
          <!-- /.app-results-footer -->

        </div>
        <!-- /.app-results-body -->
        {% elif count == 0 %}
        <div class="app-results-body">
          <p class="govuk-body">No results found</p>
          <p class="govuk-body">
            Check <a href="https://design.planning.data.gov.uk/what-we-are-working-on">our current priorities</a> to see if
            this data is being prepared for the platform.
          </p>
          <p class="govuk-body">
            If it's not there, you can <a href="https://design.planning.data.gov.uk/get-involved-in-designing-data">contribute
              to our data design
              process</a> to help prioritise it.
          </p>
        </div>
        {% endif %}
      </div>
      <!-- /.govuk-grid-column-two-thirds -->
    </div>
    <!-- /#search.govuk-grid-row -->
  </section>

{% endblock %}

{% block pageScripts %}
<script src="/static/javascripts/SearchResultsPage.js" defer></script>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    const forms = [
      document.getElementById('search-facets-form')
    ].filter(Boolean);
    const paginationLinks = Array.from(document.querySelectorAll('.app-pagination__link'));

    new SearchResultsPage(
      forms,
      paginationLinks
    );
  });
</script>



{% endblock pageScripts %}
