{% macro entityValue(field,value,field_spec,dataset_fields) %}
    {% if field_spec and field_spec[field] %}
        {% if field_spec[field]['typology'] == 'value' %}
            {% if field_spec[field]['datatype'] == 'url' %}
                <span class="app-u-breakword">
                    <a class="govuk-link" href="{{ value }}">{{value}}</a>
                </span>
            {% elif field_spec[field]['datatype'] == 'wkt' %}
                <div class="app-code-block">{{ value }}</div>
            {% elif field in ["organisation-entity"] %}
                <a class ="govuk-link" href="{{ '/entity/' + value }}">{{ value|get_entity_name }}</a>
            {% elif field_spec[field]['uri-template'] %}
                <a class="govuk-link" href="{{ field_spec[field]['uri-template']|uri_encode({field:value}) }}"> {{value}} </a>
            {% else %}
                {% if value is not none %}
                    {{ value }}
                {% endif %}
            {% endif %}
        {% elif field_spec[field]['typology'] == 'specification' %}
            {%- if field in ["dataset"] %}
                <a class="govuk-link" href="{{ '/' + field + '/' + value }}">{{ value|replace("-", " ")|capitalize }}</a>
            {% else %}
                {% if value is not none %}
                    {{ value }}
                {% endif %}
            {% endif %}
        {% elif field_spec[field]['typology'] == 'category' %}
            {% if dataset_fields and field in dataset_fields %}
                <a class="govuk-link" href="/curie/{{field}}:{{value}}">
                    {{value}}
                </a>
            {% else %}
                {% if value is not none %}
                    {{ value }}
                {% endif %}
            {% endif %}
        {% else %}
            {% if value is not none %}
                    {{ value }}
                {% endif %}
        {% endif %}

    {% else %}
    {# some catch-alls to use if field spec  isn't provided #}
        {%- if field in ["dataset"] %}
            <a class="govuk-link" href="{{ '/' + field + '/' + value }}">{{ value|replace("-", " ")|capitalize }}</a>
        {%- elif field in ["geometry","point"] %}
            <code class="app-code-block" tabindex="0">{{ value }}</code>
        {%- elif field in ["local-resilience-forum","local-authority-type","ownership-status","planning-permission-type","planning-permission-type","planning-permission-status","green-belt-core","ancient-woodland-status","design-code-category","design-code-status","listed-building-grade","park-and-garden-grade"] %}
            <a class ="govuk-link" href="{{ '/prefix/' + field + "/reference/" + value }}">{{ value }}</a>
        {%- elif field in ["local-authority-district","local-planning-authority","parish"] %}
            <a class ="govuk-link" href="{{ '/prefix/statistical-geography/reference/' + value }}">{{ value }}</a>
        {%- elif field in ["combined-authority","local-authority"] %}
            <a class ="govuk-link" href="{{ '/prefix/local-authority/reference/' + value }}">{{ value }}</a>
        {%- elif field in ["organisation-entity"] %}
            <a class ="govuk-link" href="{{ '/entity/' + value }}">{{ value|get_entity_name }}</a>
        {%- elif field in ["article-4-direction", "permitted-development-rights"] %}
            <a class ="govuk-link" href="/entity/{{ value | lookup_entity_custom(field) }}">{{ value }}</a>
        {%- elif field in ["parliament-thesaurus"] %}
            <a class ="govuk-link" href="{{ 'https://lda.data.parliament.uk/terms/' + value }}">{{ value }}</a>
        {%- elif field in ["statistical-geography"] %}
            <a class ="govuk-link" href="{{ 'https://statistics.data.gov.uk/id/statistical-geography/' + value }}">{{ value }}</a>
        {%- elif field in ["ramsar-site"] %}
            <a class ="govuk-link" href="{{ 'https://rsis.ramsar.org/ris/' + value }}">{{ value }}</a>
        {%- elif field in ["typology"] %}
            {%- if value in ["organisation"] %}
            <a class ="govuk-link" href="{{ '/' + value }}">{{ value }}</a>
            {%- elif value %}
            <a class ="govuk-link" href="{{ '/dataset#' + value }}">{{ value }}</a>
            {%- endif %}
        {%- elif field == "twitter" %}
            <a class ="govuk-link" href="https://twitter.com/{{ value }}">@{{ value }}</a>
        {%- elif field in ["website","opendatacommunities","documentation-url","document-url","site-plan-url"] %}
            <a class ="govuk-link" href="{{ value }}">{{ value }}</a>
        {%- elif field in ["wikipedia"] %}
            <a class ="govuk-link" href="{{ 'https://en.wikipedia.org/wiki/' + value }}">{{ value }}</a>
        {%- elif field in ["wikidata"] %}
            <a class ="govuk-link" href="{{ 'https://www.wikidata.org/wiki/' + value }}">{{ value }}</a>
        {%- elif field in ["world-heritage-convention-site"] %}
            <a class ="govuk-link" href="{{ 'https://whc.unesco.org/en/list/' + value }}">{{ value }}</a>
        {%- else %}
            {% if value is not none %}
                {{ value }}
            {% endif %}
        {%- endif %}
    {% endif %}
{% endmacro %}
