<div class="govuk-notification-banner" role="region" aria-labelledby="dl-data-coverage-banner" data-module="govuk-notification-banner">
  <div class="govuk-notification-banner__header">
    <h2 class="govuk-notification-banner__title" id="dl-data-coverage-banner">
      Important
    </h2>
  </div>
  <div class="govuk-notification-banner__content">
    <p class="govuk-body">
      This product is still in development, so the data may be incomplete and does not yet cover all of England.
    </p>
  </div>
</div>
