<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    <h3 class="govuk-heading-s govuk-!-margin-bottom-2 govuk-!-margin-top-0">Help improve this data</h3>
    <p class="govuk-body"><a href="https://docs.google.com/forms/d/e/1FAIpQLSeOTmyAeKH5m0Xy3pXAYNcNApPdx0_Eioj-toHCOMZWiEdU8g/viewform?usp=pp_url&entry.1761423111={{ dataset["name"] }}" class="govuk-link">Give feedback on this dataset</a>, or email your questions and corrections to <a href="mailto:{{ templateVar.email }}" class="govuk-link">{{ templateVar.email }}</a>.</p>
  </div>
</div>
