<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    {% if dataset is defined and dataset %}
      <h3 class="govuk-heading-s govuk-!-margin-bottom-2 govuk-!-margin-top-0">Help improve this data</h3>
      <p class="govuk-body"><a href="https://forms.microsoft.com/e/VfSR3Jp8Nu?origin=lprLink&r315037aa6db34b1fa96f65739afca51a={{ dataset["name"] | urlencode }}" class="govuk-link">Give feedback on this dataset</a>, or email your questions and corrections to <a href="mailto:{{ templateVar.email }}" class="govuk-link">{{ templateVar.email }}</a>.</p>
    {% else %}
    <h3 class="govuk-heading-s govuk-!-margin-bottom-2 govuk-!-margin-top-0">Help improve this page</h3>
    <p class="govuk-body"><a href="https://forms.office.com/pages/responsepage.aspx?id=EGg0v32c3kOociSi7zmVqDYGoPLIlZdKnTFE6Z-rET1UNEJKWk03TkhQOUZCVUpOSDUzSUw1SVhWNCQlQCN0PWcu&route=shorturl">Give feedback on this page</a>, or email your questions and corrections to <a href="mailto:digitalland@communities.gov.uk">digitalland@communities.gov.uk</a>.</p>
    {% endif %}
  </div>
</div>
