{% from "govuk_frontend_jinja/components/footer/macro.html" import govukFooter %}
{{ govukFooter({
    "containerClasses": ("dl-container--full-width" if fullFooter == True else ''),
    "meta": {
        "items": [
            {"href": "/service-status", "text": "Service status"},
            {"href": "/about/roadmap", "text": "Roadmap"},
            {"href": "/about/performance", "text": "Performance"},
            {"href": "/about/contact", "text": "Contact"},
            {"href": "/accessibility-statement", "text": "Accessibility statement"},
            {"href": "/terms-and-conditions", "text": "Terms and conditions"},
            {"href": "/cookies", "text": "Cookie policy"},
            {"href": "/privacy-notice", "text": "Privacy notice"},],
        "html": 'Built by the <a href="https://www.gov.uk/government/organisations/ministry-of-housing-communities-local-government" class="govuk-footer__link">Ministry of Housing, Communities and Local Government</a>',
    }
}) }}
