{% from "components/header-bar/macro.jinja" import dlHeaderBar %}

{{ dlHeaderBar({
    "transaction": {
      "organisation": "Planning and housing data in England"
    },
    "fullWidth": fullWidthHeader,
    "items": [
        {
            "href": "/about",
            "text": "About"
        },
        {
            "href": "/dataset",
            "text": "Datasets"
        },
        {
            "href": "/entity",
            "text": "Search"
        },
        {
            "href": "/map",
            "text": "Map"
        },
        {
            "href": "/docs",
            "text": "API"
        },
        {
            "href": "https://design.planning.data.gov.uk",
            "text": "Design data"
        },
        {
            "href": "https://submit.planning.data.gov.uk/",
            "text": "Provide data"
        },
    ]
}) }}
