{% from "components/header-bar/macro.jinja" import dlHeaderBar %}

{{ dlHeaderBar({
    "transaction": {
      "organisation": "planning.data.gov.uk"
    },
    "fullWidth": fullWidthHeader,
    "items": [
        {
            "href": "/about",
            "text": "About"
        },
        {
            "href": "/dataset",
            "text": "Datasets"
        },
        {
            "href": "/entity",
            "text": "Search"
        },
        {
            "href": "/map",
            "text": "Map"
        },
        {
            "href": "/docs",
            "text": "Documentation"
        }
    ]
}) }}
