{% from "components/header-bar/macro.jinja" import dlHeaderBar %}

{{ dlHeaderBar({
    "transaction": {
      "organisation": "Planning and housing data in England"
    },
    "fullWidth": fullWidthHeader,
    "items": [
        {
            "href": "/about",
            "text": "About"
        },
        {
            "href": "/dataset",
            "text": "Datasets"
        },
        {
            "href": "/entity",
            "text": "Search"
        },
        {
            "href": "/map",
            "text": "Map"
        },
        {
            "href": "/docs",
            "text": "Documentation"
        },
        {
            "href": "/guidance",
            "text": "Provide data"
        },
    ]
}) }}
