{% from "components/phase-banner/macro.jinja" import dlPhaseBanner %}

{{
  dlPhaseBanner({
    'phase': 'Beta',
    'html': 'This is a new service – to help us improve it, <a href="https://forms.microsoft.com/e/VfSR3Jp8Nu?origin=lprLink" target="_blank" class="govuk-link">sign up to take part in research</a>',
    'classes': 'govuk-width-container' if not fullWidthHeader else 'govuk-width-container dl-container--full-width',
    'attributes': {
      'style': 'border-bottom: 0px' if hideBannerBorder else '' + '' if not fullWidthHeader else 'padding: 10px 0;'
    }
  })
}}
