{% macro _generateItems(params) %}
    <ul class="app-sub-navigation__section">
      {% for item in params['items'] %}
        {# check if child item is also the current item #}
        {% set isChildItemCurrentItem = (item.children | selectattr('current', 'true') | list | length > 0)  %}
        {# if there is a not a parameter telling us to hide the chidren of a parent until actually viewing a child page #}
        {% if not params.hideChildrenWhenParentIsCurrent %}
          {% set showChildrenLogic = (item.parent and item.children | length > 0 and isChildItemCurrentItem) or (item.parent and item.children | length > 0 and item.current) %}
        {% else %}
          {% set showChildrenLogic = (item.parent and item.children | length > 0 and isChildItemCurrentItem) %}
        {% endif %}
        <li class="app-sub-navigation__section-item{% if item.current or (item.parent and isChildItemCurrentItem) %} app-sub-navigation__section-item--current{% endif %}">
          <a class="app-sub-navigation__link" href="{{ item.href }}"{% if item.current %} aria-current="true"{% endif %}>{{ item.text }}</a>
          {% if showChildrenLogic %}
            <ul class="app-sub-navigation__section app-sub-navigation__section--nested">
              {% for child in item.children %}
                <li class="app-sub-navigation__section-item govuk-!-font-size-16">
                  <a class="app-sub-navigation__link" href="{{ child.href }}"{% if child.current %} aria-current="true"{% endif %}>{{ child.text }}</a>
                </li>
              {% endfor %}
            </ul>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
{% endmacro %}

{% macro appSubNavigation(params) %}
<nav class="app-sub-navigation{%- if params.classes %} {{ params.classes }}{% endif %}" aria-labelledby="app-sub-navigation-heading"
  {%- for attribute, value in params.attributes %} {{ attribute }}="{{value}}"{% endfor %}>
  <h2 class="govuk-visually-hidden" id="app-sub-navigation-heading">{{ params.visuallyHiddenTitle or "Pages in this section" }}</h2>
  {% if params.themed %}
    {% for theme, items in params.links | groupby("theme") | sort(reverse=params.sort | default(False)) %}
      <h3 class="app-sub-navigation__theme">{{ theme }}</h3>
      {{ _generateItems({
          'items': items,
          'hideChildrenWhenParentIsCurrent': params.hideChildrenWhenParentIsCurrent
        })
      }}
    {% endfor %}
  {% else %}
    {{ _generateItems({
        'items': params.links,
        'hideChildrenWhenParentIsCurrent': params.hideChildrenWhenParentIsCurrent
      })
    }}
  {% endif %}
</nav>
{% endmacro %}
