{% extends "govuk_frontend_jinja/template.html" %}

{%- block pageTitle %}Planning data you can find, use and trust{% endblock -%}

{% block headIcons %}
  <link rel="icon" type="image/svg+xml" href="{{ cacheBust((assetPath | default('/assets')) + '/images/favicon.svg') }}">
  <link rel="shortcut icon" href="{{ cacheBust((assetPath | default('/assets')) + '/images/favicon.ico') }}" type="image/x-icon">
  <link rel="mask-icon" href="{{ cacheBust((assetPath | default('/assets')) + '/images/govuk-icon-mask.svg') }}" color="#0b0c0c">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ cacheBust((assetPath | default('/assets')) + '/images/govuk-icon-180.png') }}">
  <link rel="apple-touch-icon" sizes="167x167" href="{{ cacheBust((assetPath | default('/assets')) + '/images/govuk-icon-167.png') }}">
  <link rel="apple-touch-icon" sizes="152x152" href="{{ cacheBust((assetPath | default('/assets')) + '/images/govuk-icon-152.png') }}">
  <link rel="apple-touch-icon" href="{{ cacheBust((assetPath | default('/assets')) + '/images/govuk-icon-128.png') }}">
  <link rel="manifest" href="{{ cacheBust((assetPath | default('/assets')) + '/images/site.webmanifest') }}">
  <meta name="msapplication-TileColor" content="#0b0c0c">
  <meta name="msapplication-config" content="{{ cacheBust((assetPath | default('/assets')) + '/images/browserconfig.xml') }}">
  <meta name="theme-color" content="#0b0c0c">
  {% if opengraph_image %}<meta property="og:image" content="{{ cacheBust((assetPath | default('/assets')) + '/images/opengraph.png') }}">{% endif %}
{% endblock %}

{% block head %}
	<meta name="digital-land:template" content="{{ templateName|default('base.html') }}">
  <meta name="referrer" content="origin-when-cross-origin" />
  <meta name="google-site-verification" content="cTw5PNjfi2wPH4Q2HK3b6HFsiokKw5bFoUKhG8CAWGY" />

    {% block stylesheets %}
        <link href="{{ cacheBust(assetPath + '/stylesheets/application.css') }}" rel="stylesheet"/>
    {% endblock %}

  {%- block headStart %}{% endblock headStart -%}

  {% block pageAssets %}
    {% block mapAssets %}

    {% endblock mapAssets %}
  {% endblock pageAssets %}

  {%- block headEnd %}{% endblock headEnd -%}
{% endblock head %}

{% block header %}
    {% block cookieBanner %}
        {% include 'partials/cookie-banner.html' %}
    {% endblock cookieBanner %}

    {% block mastHead %}
        {% include 'partials/service-status-banner.html' %}
        {% include 'partials/mast-head.html' %}
        {% include 'partials/phase-banner.html' %}
    {% endblock mastHead %}

{% endblock header %}



{% block beforeContent %}
	{% block breadcrumbs %}{% endblock breadcrumbs %}
{% endblock beforeContent %}

{% block footer %}
	{% block footerStart %}{% endblock footerStart %}
	{% include 'partials/footer.html' with context %}
{% endblock %}

{% block bodyEnd %}
  {% block bodyScriptsStart %}{% endblock bodyScriptsStart %}

  {% block bodyScripts %}
    <script type="module">
      import {showCookieBannerIfNotSetAndSetTrackingCookies, cookiePrefs} from "{{ cacheBust(assetPath | default('/assets') + '/javascripts/cookies.js') }}";
      showCookieBannerIfNotSetAndSetTrackingCookies();
      cookiePrefs.get();
    </script>

    {% block analyticScripts %}
      <script async src='https://www.google-analytics.com/analytics.js'></script>
      <!-- Google tag (gtag.js) -->
      <script>
        window.gaMeasurementId = '{{ gaMeasurementId }}';
        var scriptElement = document.createElement("script");
        scriptElement.src = `https://www.googletagmanager.com/gtag/js?id=${window.gaMeasurementId}`;
        document.head.appendChild(scriptElement);
      </script>
    {% endblock analyticScripts %}

    {% block libraryScripts %}
    	{%- if includeJQuery == "true" -%}
	      <script src="{{ staticPath | default('/static') }}/javascripts/vendor/jquery-3.4.1.min.js"></script>
	    {% endif %}
    {% endblock libraryScripts %}

    {% block govScripts %}
        <script src="{{ assetPath | default('/assets') }}/govuk/all.js"></script>
        <script>
        // initiate all GOVUK components
        window.GOVUKFrontend.initAll();
        </script>
        <script type="module" async>
          import {ListFilter} from "{{ assetPath | default('/assets') }}/javascripts/ListFilter.js";
          var $formToFilterList = document.querySelector('[data-module="dl-list-filter-form"]');
          if($formToFilterList){
            new ListFilter($formToFilterList);
          }
        </script>
    {% endblock govScripts %}

    {% block digitalLandScripts %}

    {% endblock digitalLandScripts %}

    {% block pageScripts %}{% endblock pageScripts %}
  {% endblock bodyScripts %}

  {% block bodyScriptsEnd %}{% endblock bodyScriptsEnd %}
{% endblock %}
