{% extends "digital-land-frontend/layouts/base.jinja" %}

{% from 'govuk_frontend_jinja/components/cookie-banner/macro.html' import govukCookieBanner %}

{% set html %}
  <p class="govuk-body">We use some essential cookies to make this service work.</p>
  <p class="govuk-body">We’d also like to use analytics cookies so we can understand how you use the service and make improvements.</p>
{% endset %}

{% set acceptHtml %}
  <p class="govuk-notification-banner__heading">
    You have accepted additional cookies. You can <a class="govuk-notification-banner__link" href="#">change your cookie settings</a> at any time.
  </p>
{% endset %}

{% block headStart %}
<!-- Google tag (gtag.js) -->
<script>
  window.gaMeasurementId = 'G-H6Y6SVFXMH';
  var scriptElement = document.createElement("script");
  scriptElement.src = `https://www.googletagmanager.com/gtag/js?id=${window.gaMeasurementId}`;
  document.head.appendChild(scriptElement);
</script>
{% endblock headStart %}

{% block headIcons %}
  <link rel="icon" type="image/svg+xml" href="{{ assetPath | default('/assets') }}/images/favicon.svg">
  <link rel="shortcut icon" href="{{ assetPath | default('/assets') }}/images/favicon.ico" type="image/x-icon">
  <link rel="mask-icon" href="{{ assetPath | default('/assets') }}/images/safari-pinned-tab.svg" color="#062058">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ assetPath | default('/assets') }}/images/dl-apple-touch-icon-152.png">
  <link rel="apple-touch-icon" sizes="167x167" href="{{ assetPath | default('/assets') }}/images/dl-apple-touch-icon-167.png">
  <link rel="apple-touch-icon" sizes="152x152" href="{{ assetPath | default('/assets') }}/images/dl-apple-touch-icon-152.png">
  <link rel="apple-touch-icon" href="{{ assetPath | default('/assets') }}/images/apple-touch-icon.png">
  <link rel="manifest" href="{{ assetPath | default('/assets') }}/images/site.webmanifest">
  <meta name="msapplication-TileColor" content="#062058">
  <meta name="msapplication-config" content="{{ assetPath | default('/assets') }}/images/browserconfig.xml">
  <meta name="theme-color" content="#062058">
  {% if opengraph_image %}<meta property="og:image" content="{{ assetPath | default('/assets') }}/images/opengraph.png">{% endif %}
{% endblock %}

{% block stylesheets %}
  <!-- local generated css -->
  <link href="{{ assetPath }}/stylesheets/application.css" rel="stylesheet"/>
{% endblock %}

{% block mastHead %}

  {{ govukCookieBanner({
    "ariaLabel": "Cookies on planning.data.gov.uk",
    "attributes": {
      "id": "cookie-banner",
    },
    "messages": [
      {
        'headingText': "Cookies on planning.data.gov.uk",
        'html': html,
        'actions': [
          {
            'text': "Accept analytics cookies",
            'type': "button",
            'name': "cookies",
            'value': "accept",
            'attributes': {
              'onclick': 'acceptCookies();',
            }
          },
          {
            'text': "Customise cookie preferences",
            'href': "cookies"
          }
        ]
      }
    ]
  }) }}

  {{ govukCookieBanner({
    'ariaLabel': "Cookies on planning.data.gov.uk",
    'attributes': {
      'id': 'cookie-confirmation',
      'style': 'display: none'
    },
    'messages': [
      {
        'html': acceptHtml,
        'actions': [
        {
          'text': "Hide cookie message",
          'href': "#",
          'type': "button",
          'attributes': {
            'onclick': 'hideCookieConfirmation();'
          }
        }
        ]
      }
    ]
  }) }}

  {% include 'partials/service-status-banner.html' %}
  {% include 'partials/mast-head.html' %}
{% endblock mastHead %}

{% block phaseBanner %}
  {% include 'partials/phase-banner.html' %}
{% endblock %}

{#
  leaving these empty means they remove them from the inherited layout
  which is what we want for now until we decide to add tracking into
  the site again.
#}
{% block cookieBanner %}{% endblock cookieBanner %}
{% block analyticScripts %}{% endblock analyticScripts %}
{% block bodyScripts %}
  <script src="{{ assetPath }}/javascripts/digital-land-frontend.js"></script>
  <script src="{{ assetPath }}/javascripts/digital-land-cookies.js"></script>
  <script>
    cookiePrefs.get();
  </script>
{% endblock bodyScripts %}


{% block footer %}
  {% set fullFooter = False %}
  {% include 'partials/footer.html' with context %}
{% endblock %}
