{% extends "digital-land-frontend/layouts/base.jinja" %}

{% block headIcons %}
  <link rel="icon" type="image/svg+xml" href="{{ assetPath | default('/assets') }}/images/favicon.svg">
  <link rel="shortcut icon" href="{{ assetPath | default('/assets') }}/images/favicon.ico" type="image/x-icon">
  <link rel="mask-icon" href="{{ assetPath | default('/assets') }}/images/safari-pinned-tab.svg" color="#062058">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ assetPath | default('/assets') }}/images/dl-apple-touch-icon-152.png">
  <link rel="apple-touch-icon" sizes="167x167" href="{{ assetPath | default('/assets') }}/images/dl-apple-touch-icon-167.png">
  <link rel="apple-touch-icon" sizes="152x152" href="{{ assetPath | default('/assets') }}/images/dl-apple-touch-icon-152.png">
  <link rel="apple-touch-icon" href="{{ assetPath | default('/assets') }}/images/apple-touch-icon.png">
  <link rel="manifest" href="{{ assetPath | default('/assets') }}/images/site.webmanifest">
  <meta name="msapplication-TileColor" content="#062058">
  <meta name="msapplication-config" content="{{ assetPath | default('/assets') }}/images/browserconfig.xml">
  <meta name="theme-color" content="#062058">
  {% if opengraphImage %}<meta property="og:image" content="{{ assetPath | default('/assets') }}/images/opengraph.png">{% endif %}
{% endblock %}

{% block stylesheets %}
  <!-- local generated css -->
  <link href="{{ assetPath }}/stylesheets/application.css" rel="stylesheet"/>
{% endblock %}

{% block mastHead %}
  {% include 'partials/mast-head.html' %}
{% endblock mastHead %}

{% block phaseBanner %}
  {% include 'partials/phase-banner.html' %}
{% endblock %}

{#
  leaving these empty means they remove them from the inherited layout
  which is what we want for now until we decide to add tracking into
  the site again.
#}
{% block cookieBanner %}{% endblock cookieBanner %}
{% block analyticScripts %}{% endblock analyticScripts %}
