{% extends "layouts/layout.html" %}
{% from "components/sub-navigation/macro.jinja" import appSubNavigation %}
{% block pageTitle %}{{ pageData.pageTitle }}{% endblock %}

{%- from "components/back-button/macro.jinja" import dlBackButton %}
{% block breadcrumbs%}
  {{ dlBackButton({
    "parentHref": '/'
  })}}
{% endblock %}

{% block content %}
  {% if pageData.fullPageTitle %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">{{ pageData.pageTitle }}</h1>
    </div>
  </div>
  {% endif %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third sticky-nav" id="content_secondary">
      <a href="#content_primary" class="govuk-visually-hidden">Skip guidance navigation</a>
      {% block content_secondary %}

        {% set themes = [
          'Guidance for how to check and provide your data',
          'Provide planning and housing data for England',
          'Prepare data to the specifications',
          'Other guidance'
        ] %}

        {% set sectionPath = '/guidance/' %}

        {{
          appSubNavigation({
          'hideChildrenWhenParentIsCurrent': True,
          'visuallyHiddenTitle': 'Guidance navigation',
          'sort': False,
          'themed': True,
          'links': [
            {
              'text': 'Guidance',
              'href': sectionPath,
              'theme': themes[0],
              'current': false,
            },
            {
              'text': 'Prepare your data',
              'theme': themes[0],
              'href': sectionPath + '#prepare-your-data',
              'current': false,
              'parent': true,
              'children': [
                {
                  'text': "Article 4 direction data",
                  'href': sectionPath + 'specifications/article-4-direction',
                  'current': true if pageData.name == 'article-4-direction' else false,
                },
                {
                  'text': "Brownfield land data",
                  'href': 'https://www.gov.uk/government/publications/brownfield-land-registers-data-standard/publish-your-brownfield-land-data',
                  'current': false,
                },
                {
                  'text': "Conservation area data",
                  'href': sectionPath + 'specifications/conservation-area',
                  'current': true if pageData.name == 'conservation-area' else false,
                },
                {
                  'text': "Developer contributions data",
                  'href': 'https://www.gov.uk/guidance/publish-your-developer-contributions-data',
                  'current': false,
                },
                {
                  'text': "Infrastructure funding statement data",
                  'href': 'https://digital-land.github.io/specification/specification/infrastructure-funding-statement/',
                  'current': false,
                },      
                {
                  'text': "Listed building data",
                  'href': sectionPath + 'specifications/listed-building',
                  'current': true if pageData.name == 'listed-building' else false,
                },
                {
                  'text': "Plan data",
                  'href': 'https://www.gov.uk/government/publications/publish-your-plan-data/publish-your-plan-data',
                  'current': false,
                },      
                {
                  'text': "Tree preservation order data",
                  'href': sectionPath + 'specifications/tree-preservation-order',
                  'current': true if pageData.name == 'tree-preservation-order' else false,
                }
              ]
            },
                        {
              'text': 'Check your data',
              'theme': themes[0],
              'href': sectionPath + '#check-your-data',
              'current': false,
            },
            {
              'text': 'Publish data',
              'theme': themes[0],
              'href': sectionPath + '#publish-your-data',
              'current':  false,
            },
             {
              'text': 'Provide your data',
              'theme': themes[0],
              'href': sectionPath + '#provide-your-data',
              'current':  false,
            },
             {
              'text': 'View your data',
              'theme': themes[0],
              'href': sectionPath + '#view-your-data',
              'current':  false,
            },
            {
              'text': 'Update your data',
              'theme': themes[0],
              'href': sectionPath + '#update-your-data',
              'current': false,
            },
            {
              'text': 'The Open Digital Planning community',
              'theme': themes[0],
              'href': sectionPath + '#the-open-digital-planning-community',
              'current':  false,
            },
            {
              'text': 'Get help',
              'theme': themes[0],
              'href': sectionPath + '#get-help',
              'current': false,
            },
          ]
        })
        }}
      {% endblock %}
    </div>
    <!-- /.govuk-grid-column-one-third -->
    <div class="govuk-grid-column-two-thirds" id="content_primary">

      {% if not pageData.fullPageTitle %}
        {% if pageData.pageTitle %}
          <h1 class="govuk-heading-xl">{{ pageData.pageTitle }}</h1>
        {% endif %}
      {% endif %}

      <div class="app-prose">
        {% block content_primary %}
        {% endblock %}
      </div>
      <!-- /.app-prose -->
    </div>
    <!-- /.govuk-grid-column-two-thirds -->
  </div>
  <!-- /.govuk-grid-row -->
  {{ pageData | debug | safe }}
{% endblock %}
