{% extends "digital-land-frontend/layouts/base--full-width.jinja" %}

{% block stylesheets %}
  <!-- local generated css -->
  <link href="{{ assetPath }}/stylesheets/application.css" rel="stylesheet"/>
{% endblock %}

{% block mastHead %}
  {% set fullWidthHeader = true %}
  {# <article class="app-service-alert">
    <div class="govuk-width-container">
      <p class="app-service-alert__text">
        <span class="app-service-alert__icon" aria-hidden="true">!</span>
        <strong>Planned maintenance for: </strong>
        <a href="/service-status" class="app-service-alert__link">Tuesday 22nd November 2022 at 14:00 GMT</a>.
      </p>
    </div>
  </article> #}
  {% include 'partials/mast-head.html' %}
{% endblock mastHead %}

{% block phaseBanner %}
  {% include 'partials/phase-banner.html' %}
{% endblock %}

{% block footer %}
  {% set fullFooter = True %}
  {% include 'partials/footer.html' with context %}
{% endblock %}
