{% extends "digital-land-frontend/dlf-base.html" %}

{%- block head %}
{{ super() }}
<meta name="timestamped-page-generated" content="{{ now }}" />
{% endblock head -%}

{%- block beforeContent -%}
{{ super() }}

{{- govukBreadcrumbs({
    "items": [
        {
        "text": "Digital Land",
        "href": "/"
        },
        {
        "text": "Dataset",
        "href": "/dataset"
        },
        {
        "text": "Brownfield land",
        "href": "/dataset/brownfield-land"
        },
        {
        "text": "Organisation",
        "href": "/dataset/brownfield-land/organisation"
        },
        {
        "text": organisation|organisation_id_to_name,
        "href": "/dataset/brownfield-land/organisation/" + organisation.replace(':', '/')
        },
        {
        "text": "Check your data"
        }
    ]
    }) -}}
{%- endblock -%}

{% block pageTitle %}How to check your brownfield land data | {{organisation|organisation_id_to_name}} | Organisation | Brownfield Land | Dataset | Digital Land{% endblock %}

{% block content %}
<span class="govuk-caption-xl">Brownfield land</span>
<h1 class="govuk-heading-xl">How to check your data</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds dl-contents-section">
    <p>Contents</p>
    <ul>
      <li><a href="#recent-register">1. Make sure we have your most recent register</a></li>
      <li><a href="#check-your-data">2. Check your data</a></li>
      <li><a href="#correct-the-data">3. Correct your data</a></li>
      <li><a href="#publish-the-updated-register">4. Publish your updated register</a></li>
      <li><a href="#send-us-your-most-recent-register">5. Send us your most recent register</a></li>
    </ul>
  </div>
</div>

<p class="govuk-body">Check that the brownfield land data we have collected from {{ organisation|organisation_id_to_name }} is accurate and up to date by following the steps on this page.</p>


<h2 id="recent-register" class="govuk-heading-m">1. Make sure we have your most recent register</h2>
<p class="govuk-body">This is the most recent version of your brownfield land register that we have collected:</p>
<div class="highlight-box--cta govuk-!-margin-bottom-1">
    View the data: <a href="/resource/{{ latest_resource['resource'] }}">version first collected on {{ latest_resource['start-date'] }} and last collected on {{ latest_resource['end-date'] }}</a>
</div>
<div class="govuk-!-margin-bottom-5">
  <a href="#other-versions" class="govuk-link dl-small-text">See other version we have collected.</a>
</div>

<p class="govuk-body">If you have a more up-to-date register than the above version, please send us the URL via <a href="https://forms.gle/YoxWZf2tjaRxKHCAA">this Google Form</a> or by emailing <a href="mailto:DigitalLand@communities.gov.uk">DigitalLand@communities.gov.uk</a>. If you check this page again in a few days, the link above should show your most up-to-date register.</p>

<h2 id="check-your-data" class="govuk-heading-m">2. Check your data</h2>

<p class="govuk-body">By clicking the link to the version above, you can view a breakdown and visualisation of the data. In particular, you should check the:</p>
<ul class="govuk-list govuk-list--bullet">
    <li>size of each site</li>
    <li>number of potential dwellings</li>
    <li>locations of the brownfield sites on the map</li>
</ul>

<p class="govuk-body">Please also thoroughly check the processed data in the table at the bottom of the page.</p>

<h2 id="correct-the-data"class="govuk-heading-m">3. Correct your data</h2>

<p class="govuk-body">If all of the data is accurate, you do not need to take any further action.</p>

<p class="govuk-body">If there are any errors or missing data, download the processed CSV file (download link is under the heading “Records” on the View the data web page). Correct the data and make sure it meets the <a href="https://www.gov.uk/government/publications/brownfield-land-registers-data-standard">data standard</a>.</p>

<h2 id="publish-the-updated-register"class="govuk-heading-m">4. Publish your updated register</h2>

<p class="govuk-body">When you are happy that the data is accurate, publish the updated register as a CSV file on your organisation’s web page. This should replace the old version.</p>

<h2 id="send-us-your-most-recent-register" class="govuk-heading-m">5. Send us your most recent register</h2>

<p class="govuk-body">Once you have corrected and published your most up-to-date register, send us the URL to the register (not the URL to the web page the register sits on). You can send the URL <a href="https://forms.gle/YoxWZf2tjaRxKHCAA">using this Google Form</a> or by emailing it to <a href="mailto:DigitalLand@communities.gov.uk">DigitalLand@communities.gov.uk</a>.
</p>

{% if other_resources|length > 0 %}
<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<h2 id="other-versions" class="govuk-heading-m">We have previously collected {{other_resources|length}} older {{ "version" | pluralise("", "s", other_resources|length)}} of your register:</h2>
<ul class="govuk-list govuk-list--bullet">
    {% for r in other_resources %}
    <li>
        <a href="/resource/{{ r['resource'] }}">Version collected between {{ r['start-date'] }} and
            {{ r['end-date'] }}</a>
    </li>
    {% endfor %}
</ul>
{% endif %}

{%- endblock -%}
