{% extends "digital-land-frontend/dlf-base.html" %}
{% from "dl-partials/chart-macros.html" import horizontalBar %}

{%- block beforeContent -%}
    {{ super() }}

    {{- govukBreadcrumbs({
    "items": [
        {
        "text": "Digital Land",
        "href": "/"
        },
        {
        "text": "Resources",
        "href": "/resource"
        },
        {
        "text": "Brownfield collector report"
        }
    ]
    }) -}}
{%- endblock -%}

{% block pageTitle %}Brownfield collector report | Resources | Digital Land{% endblock %}

{% block content %}
<h1 class="govuk-heading-xl govuk-!-margin-bottom-2">Brownfield collector report</h1>
<p class="govuk-body govuk-!-font-size-16 govuk-!-margin-bottom-7">Last updated {{ today.date().strftime('%d %B %Y') }}</p>

<h2 class="govuk-heading-l">Summary</h2>
<p class="govuk-body">Since our collector start running regularly it has collected brownfield land data from <span class="govuk-!-font-size-24 govuk-!-font-weight-bold highlight-text">{{ mappings['organisation']|length }} Organisations</span>.</p>
<p class="govuk-body">We have found brownfield data behind <span class="govuk-!-font-size-24 govuk-!-font-weight-bold highlight-text">{{ mappings['key']|length }} Urls</span>.</p>
<p class="govuk-body">And there have been <span class="govuk-!-font-size-24 govuk-!-font-weight-bold highlight-text">{{ mappings['resource']|length }} different resources</span>, where a resource is either a new or updated brownfield site register.</p>

<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

<h2 class="govuk-heading-l">Urls to fetch from</h2>

<h3 class="govuk-heading-m">How many urls do organisations use?</h3>

{% set num_orgs_mt_1_url = mappings['organisation']|length - orgs_by_links[1]['organisation']|length %}
<p class="govuk-body"><span class="govuk-!-font-size-24 govuk-!-font-weight-bold">{{ '{:.0%}'.format(num_orgs_mt_1_url / mappings['organisation']|length) }}</span> of organisations have brownfield data behind more than 1 url.</p>

<div class="govuk-!-margin-bottom-9">
{% for count in orgs_by_links %}
{%- set bar_label = count|string + " urls" if count > 1 else "1 url" -%}
{{- horizontalBar({
    "label": bar_label,
    "value": orgs_by_links[count]['organisation']|length,
    "total": mappings['organisation']|length,
    "classes": "chart-bar--light-blue"
}) -}}
{% endfor %}
</div>

{% set org_id = orgs_by_links[10]['organisation'][0] %}
<p class="govuk-body"><span class="govuk-!-font-weight-bold"><a href="{{ orgs_by_links[10]['organisation'][0]|curie_url }}">{{ orgs_by_links[10]['organisation'][0] }}</a></span> is the local planning authority with brownfield data behind the most urls.</p>

<details class="govuk-details" data-module="govuk-details">
    <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
            See {{ org_id }}'s {{ ind.mappings['organisation'][org_id]['key']|length }} urls
        </span>
    </summary>
    <div class="govuk-details__text">
        <ul class="govuk-list govuk-list--number">
        {% for k in ind.mappings['organisation'][org_id]['key'] %}
            <li><a href="{{ ind.get_key_url(k) }}">{{ ind.get_key_url(k) }}</a></li>
        {% endfor %}
        </ul>
    </div>
</details>

<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

<h2 class="govuk-heading-l">Resources collected</h2>

{% macro heatMap(weeks) %}
{% set svg_width = (weeks|length * 16) + 32 %}
<?xml version="1.0" encoding="UTF-8"?>
<svg width="{{svg_width}}" height="128" class="js-calendar-graph-svg"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink">
    <g transform="translate(10, 20)">
      {% for w in weeks %}
        {% set x_pos = (loop.index - 1) * 16 %}
        <g transform="translate({{ x_pos }}, 0)">
            {% for d in weeks[w] %}
            {% set y_pos = (loop.index - 1) * 15 %}
            <a xlink:href="{{ globals['url_base'] }}log/{{ d[0] }}">
            <rect class="day" width="12" height="12" x="16" y="{{ y_pos }}" fill="{{ d[1]|countColour }}" data-count="{{d[1]}}" data-date="{{d[0]}}">
                <title>{{ d[0] }}: {{ d[1] }} new resources</title>
            </rect>
            </a>
            {% endfor %}
        </g>
      {% endfor %}
        <text text-anchor="start" class="wday" dx="-10" dy="10">Mon</text>
        <text text-anchor="start" class="wday" dx="-10" dy="25" style="display: none;">Tue</text>
        <text text-anchor="start" class="wday" dx="-10" dy="41">Wed</text>
        <text text-anchor="start" class="wday" dx="-10" dy="56" style="display: none;">Thu</text>
        <text text-anchor="start" class="wday" dx="-10" dy="71">Fri</text>
        <text text-anchor="start" class="wday" dx="-10" dy="85" style="display: none;">Sat</text>
        <text text-anchor="start" class="wday" dx="-10" dy="101">Sun</text>
    </g>
</svg>
{% endmacro %}

<h2 class="govuk-heading-m">How often are new or updated registers published?</h2>

<p class="govuk-body">Since 1st November 2019 there has on average been <span class="govuk-!-font-size-24 govuk-!-font-weight-bold highlight-text">{{ (resource_count['new_resource_count'] / resource_count['days'])|round(2) }}</span> new brownfield site resources per day.</p>

<h3 class="govuk-heading-s">New resource history</h3>
<div class="govuk-!-margin-bottom-6">
{{ heatMap(heat_map) }}
</div>

{% set most_changed = ind.keys_by_no_resources()[-1] %}

<p class="govuk-body">

    {%- for org in ind.get_orgs_for_key(most_changed[0]) -%}
        <span class="govuk-!-font-size-24 govuk-!-font-weight-bold highlight-text">{{ org }}</span>
        {{ "," if not loop.last }}
    {%- endfor -%}
    {%- if ind.get_orgs_for_key(most_changed[0])|length > 1 -%}
        are the organisations
    {%- else -%}
        is the organisation
    {%- endif %} with <a class="govuk-link" href="ind.get_key_url(most_changed[0])" target="_blank">the url</a> that has been updated or changed the most. It has been updated or changed <span class="govuk-!-font-size-24 govuk-!-font-weight-bold highlight-text">{{ most_changed[1] }} times</span>.</p>


<h3 class="govuk-heading-m govuk-!-margin-top-9">Resource media-types</h3>
{% set media_type_counts = ind.count_media_types() %}
<p class="govuk-body">The guidance on publishing the brownfield registers specifies that they should be in csv format.
    <span class="govuk-!-font-size-24 govuk-!-font-weight-bold highlight-text">{{ '{:.0%}'.format(media_type_counts["text/csv"] / mappings['resource']|length) }}</span> of the registered that have been collected are in the correct format. A few different file types have been collected.
</p>

<div class="govuk-!-margin-bottom-9">
{% for typ in media_type_counts.keys() %}
    {%- set bar_label = typ if typ != "" else "No media type" %}
    {%- set label_class = "chart-bar__label--long chart-bar__label--small-text" if "officedocument.spreadsheetml.sheet" in typ else "chart-bar__label--small-text" -%}
    {{- horizontalBar({
        "label": bar_label,
        "label_classes": label_class,
        "value": media_type_counts[typ],
        "total": mappings['resource']|length,
        "classes": "chart-bar--light-blue"
    }) -}}
{% endfor %}
</div>


<h3 class="govuk-heading-m">How many resources are valid?</h3>
<p class="govuk-body">After being collected a resource is run through a validator. This checks the data against the brownfield site data standard and reports back on any problems with the data.</p>
<div class="govuk-grid-row">
    {% set validation_counts = ind.validation_count() %}
    {%- for label, val in validation_counts.items() -%}
    <div class="govuk-grid-column-one-half">
        <p>
            <span class="govuk-body govuk-!-font-size-48 govuk-!-font-weight-bold">{{ val }}</span><br>
            <span class="govuk-body-l {{ 'block-text--green' if label|string == 'True' else 'block-text--red' }}">{{ label }}</span>
        </p>
    </div>
    {%- endfor -%}
</div>
<div class="govuk-inset-text">
    The current iteration of the validator is not very forgiving. There are some simple fixes that can be applied automatically. Once applied the number of valid resources should increase substantally.
</div>




{% endblock %}
