// Override the govuk-frontend font stack
$govuk-font-family: "HelveticaNeue", "Helvetica Neue", "Arial", "Helvetica", sans-serif;
$govuk-assets-path: "/static/govuk/assets/";
$govuk-new-link-styles: true;
$govuk-link-underline-offset: .2em;

// // import all govuk frontend scss
// ideally we would remove this dependence on frontend
@import "node_modules/digital-land-frontend/digital-land-frontend/dl-frontend";

// planning.data.gov.uk specific styles
// --------------------------------------------------------
// ITCSS levels
@import "base";
@import "utilities/buttons";
@import "utilities/layout";
@import "utilities/typography";
@import "utilities/list";

// planning.data.gov.uk components
// --------------------------------------------------------
// components
// @import "component/hero";
@import "component/hero/hero";
@import "component/attachment";
@import "component/summary-list";
@import "component/search";
@import "component/card";
@import "component/filter-group";
@import "component/applied-filters";
@import "component/feedback-panel";
@import "component/map-filter-checkboxes";
@import "component/map-popup";
@import "component/pagination";
@import "component/prose";
@import "component/summary-card";
@import "component/related-items";
@import "component/table";
@import "component/sub-navigation";
@import "component/service-alert";

// very bespoke styles for specific pages/areas of the site
@import "pages/entity";
@import "pages/dataset";

.govuk-header {
    background-color: red;
}
