// Override the govuk-frontend font stack
$govuk-font-family: "HelveticaNeue", "Helvetica Neue", "Arial", "Helvetica", sans-serif;
$govuk-assets-path: "/static/govuk/assets/";

// import all govuk frontend scss
@import "node_modules/digital-land-frontend/digital-land-frontend/dl-frontend";

// digital-land.info specific styles
// --------------------------------------------------------
// ITCSS levels
@import "base";
@import "utilities/buttons";
@import "utilities/layout";
@import "utilities/typography";
@import "utilities/list";

// digital-land.info components
// --------------------------------------------------------
// components
@import "component/hero";
@import "component/attachment";
@import "component/summary-list";
@import "component/search";
@import "component/card";
@import "component/filter-group";
@import "component/applied-filters";
@import "component/feedback-panel";
@import "component/pagination";
@import "component/prose";
