{% extends "digital-land-frontend/dlf-base.html" %}

{% block head %}
  <link href="{{ staticPath }}/stylesheets/application.css" rel="stylesheet" />
{% endblock %}

<!-- example of how you add propositional heading -->
{% block header_class %}with-proposition{% endblock %}
{% block proposition_header %}
<div class='header-proposition'>
  <div class='content'>
    <nav id='proposition-menu'>
      <a href='/' id='proposition-name'>Digital Land</a>
    </nav>
  </div>
</div>
{% endblock %}

{% block body_end %}
  {# js scripts here #}
{% endblock %}
