{% extends "layouts/layout--guidance.html" %}
{%- from "components/back-button/macro.jinja" import dlBackButton %}
{% set templateName = 'dl-info/guidance/index.html' %}
{%- do pageData.update({
  'pageTitle': 'Publish planning and housing data for England'
}) %}
{% block breadcrumbs%}
  {{ dlBackButton({
    "parentHref": '/'
  })}}
{% endblock %}
{% block content_primary %}

    <p>
   Guidance for planning authorities adding data to the platform.
    </p>

    {# <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l"> #}
{% endblock %}
