{%- do pageData.update({
  'pageTitle': 'Publish data on your website'
}) %}
{% set templateName = 'dl-info/guidance/publish-data-on-your-website.html' %}
{% extends "layouts/layout--guidance.html" %}
{%- from "components/back-button/macro.jinja" import dlBackButton %}

{% block breadcrumbs%}
  {{ dlBackButton({
    "parentHref": '/guidance/'
  })}}
{% endblock %}

{% block content_primary %}

    {% set markdown_content %}
    {%- include pageData.root_url + "publish-data-on-your-website.md" with context -%}
    {% endset %}

    {{ markdown_content | render_markdown(govAttributes=True) }}

{% endblock %}
