{% extends "layouts/layout--about.html" %}
{% set templateName = 'dl-info/about/contact.html' %}
{%- from "components/back-button/macro.jinja" import dlBackButton %}
{%- block breadcrumbs -%}
  {{ dlBackButton({
    "parentHref": '/about/'
  })}}
{%- endblock -%}
{%- do pageData.update({
  'pageTitle': 'Contact',
  'lede': lede
}) %}
{% block content_primary %}
    {%- set page_content -%}{%- include pageData.root_url + "contact.md" -%}{%- endset -%}
    {{ page_content | render_markdown }}
{% endblock %}
