{%- do pageData.update({
  'pageTitle': 'Data specifications for local planning authorities'
}) %}
{% extends "layouts/layout--guidance.html" %}
{% block content_primary %}

  <p class="govuk-body-l">Guidance about how to collate each dataset including examples of data for each of the fields (rows).</p>

  <ul class="govuk-list govuk-list--spaced">
    <li><a href="specifications/conservation-area">Conservation area data</a></li>
    <li><a href="specifications/design-code">Design code data</a></li>
    <li><a href="specifications/listed-building">Listed building data</a></li>
    <li><a href="specifications/article-4-direction">Article 4 Direction data</a></li>
    <li><a href="specifications/tree-preservation-order">Tree preservation order data</a></li>
  </ul>

{% endblock %}
