-c requirements.txt
pytest
flake8
pre-commit
playwright
pytest-playwright
axe-playwright-python
black>=22.3.0
SQLAlchemy-Utils
httpx2
pytest-mock
testcontainers[postgres]
pytest-md-report
pre-commit
locust
