fastapi==0.75.2
uvicorn
gunicorn
jinja2
PyYAML
python-dotenv
requests
Markdown
sqlalchemy
GeoAlchemy2
psycopg2
alembic
fastapi-utils
Shapely
sentry-sdk
jsonpickle
uritemplate
beautifulsoup4
python-slugify
govuk-frontend-jinja
validators
pre-commit
