fastapi==0.75.2
uvicorn
gunicorn
jinja2
PyYAML==6.0.3
python-dotenv
requests==2.32.5
Markdown
sqlalchemy
GeoAlchemy2
psycopg2
alembic
fastapi-utils
Shapely==2.0.4
numpy==1.26.4
greenlet==3.0.1
sentry-sdk>=2.44.0
jsonpickle
uritemplate
beautifulsoup4
python-slugify
govuk-frontend-jinja==3.7.0
validators
redis
