digital_land_frontend @ git+https://github.com/digital-land/digital-land-frontend.git#egg=digital_land_frontend
fastapi
aiofiles
uvicorn
gunicorn
jinja2
aiohttp[speedups]
PyYAML
python-dotenv
requests
Markdown
sqlalchemy
GeoAlchemy2
psycopg2
alembic
fastapi-utils
