.dlBackButton {
    all: unset;
    display: block;
    color: #0b0c0c;
    font-family: "HelveticaNeue", "Helvetica Neue", "Arial", "Helvetica", sans-serif;
    font-size: 0.875rem;

    a {
        all: unset;
        text-decoration: underline;
        text-decoration-thickness: 1px;
        text-underline-offset: 0.2em;
        color: #0b0c0c;

        &:visited {
            color: #0b0c0c;
        }
    }
}

.dlBackButton a:hover {
    color: rgba(11, 12, 12, 0.99);
    text-decoration-thickness: 3px;
    cursor: pointer;
}

.dlBackButton a:focus {
    outline: 3px solid #ffbf47;
    outline-offset: 0px;
    box-shadow: 0 -2px #ffdd00, 0 4px #0b0c0c;
    text-decoration: none;
    background-color: #ffbf47;
}

.dlBackButtonWrapper {
    display: block;
    margin-top: 10px;
}
