// this is only required because we are re-importing all govuk styles in main.css
// we can sort this out in the reconcile frontend work

.filter-group__fieldset {
  @include govuk-responsive-padding(2, 'top');
  @include govuk-responsive-padding(2, 'right');
  @include govuk-responsive-padding(1, 'bottom');
  @include govuk-responsive-padding(2, 'left');
}

.filter-group__heading {
  margin-bottom: 0;
}

.filter-group__auto-filter__input {
  padding-left: 30px;
}

.filter-group {
  & > .filter-group__heading {
    padding: 5px 10px 10px;
  }

  & > .filter-group__body {
    padding: 10px;
  }
}

.filter-group__body {
  background: govuk-colour('white');

  .govuk-form-group {
    @include govuk-responsive-margin(3, 'bottom');
  }

  .govuk-form-group:last-child {
    margin-bottom: 0;
  }
}
