.dl-header {

  .govuk-header__content {
    width: 100%;
    padding-left: 0;
  }

  .govuk-header__menu-button {
    top: .7em;
  }

}

.dl-header__service-name {
  @include govuk-font($size: 24);
  padding-left: $govuk-gutter-half;
}
