.dl-header {

  .govuk-header__content {
    width: 100%;
    padding-left: 0;
  }

  .govuk-header__menu-button {
    top: .7em;
  }

}

.dl-header--full {
  // border-color: govuk-colour("blue");

  // alter header layout when bigger than standard screen width
  @include govuk-media-query($from: $govuk-page-width) {
    .govuk-header__content nav {
      display: inline-block;
      margin-left: govuk-spacing(9);
    }

    .govuk-header__navigation-item .govuk-header__link {
      font-weight: 400;
    }
  }
}

.dl-header__service-name {
  @include govuk-font($size: 24);
  padding-left: $govuk-gutter-half;
}
