
.dl-timeline {
  position: relative;
  margin: 0 0 30px 12px;
  padding-bottom: 30px;
  padding-left: 0;
  list-style-type: none;
}

.dl-timeline:before {
  content: "";
  position: absolute;
  top: 11px;
  bottom: 9px;
  left: -4px;
  border-left: 4px solid #6f777b;
}

.dl-timeline:after {
  bottom: 0;
}

.dl-timeline .dl-timeline__entry-heading {
  line-height: 1;
}

.dl-timeline:after,
.dl-timeline__entry:before {
  content: "";
  display: block;
  position: absolute;
  z-index: 2;
  left: -11px;
  width: 10px;
  height: 10px;
  border: 4px solid #6f777b;
  border-radius: 50%;
  background: #ffffff;
}

.dl-timeline:after {
  background: #b1b4b6;
}

.dl-timeline--empty:before, .dl-timeline--empty:after {
  display: none;
}

.dl-timeline--dates .dl-timeline__entry:before {
  margin-top: 4px;
}

.dl-timeline__entry {
  padding-bottom: 10px;
  padding-left: 20px;
}

@media (min-width: 40.0625em) {
  .dl-timeline__entry {
    padding-bottom: 20px;
  }
}

.dl-timeline__entry-heading {
  margin-bottom: 10px;
}

.dl-timeline__entry__content {
  font-family: "GDS Transport", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
}

@media print {
  .dl-timeline__entry__content {
    font-family: sans-serif;
  }
}

@media (min-width: 40.0625em) {
  .dl-timeline__entry__content {
    font-size: 19px;
    font-size: 1.1875rem;
    line-height: 1.31579;
  }
}

@media print {
  .dl-timeline__entry__content {
    font-size: 14pt;
    line-height: 1.15;
  }
}

.dl-timeline__entry__content p:not(.govuk-body) {
  margin: 5px 0;
}
