{% macro resourceTableSummary(params) %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h2 class="govuk-heading-l govuk-!-margin-top-6">Overview</h2>

      <table class="govuk-table">
        <tbody class="govuk-table__body">

          <!-- media type of resource -->
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">Media type</th>
            <td class="govuk-table__cell govuk-table__cell--numeric">{{ params.media_type|default("not available")  }}</td>
          </tr>

          <!-- publishing organisation -->
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">{{"Publishing organisation"|pluralise("", "s", params.organisation|length)}}</th>
            <td class="govuk-table__cell govuk-table__cell--numeric">
            {%- if params.organisation|length > 1 %}
                {%- for org in params.organisation -%}
                <a class="govuk-link" href="{{ org|curie_url }}">{{ org }}</a><br />
                {%- endfor -%}
            {% endif -%}
            </td>
          </tr>

          <!-- valid resource -->
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">Valid resource</th>
            <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#validation-result">{{ params.valid|default("not available") }}</a></td>
          </tr>

        </tbody>
      </table>

    </div>
</div>
{% endmacro %}