// how can we import this from govuk
// https://github.com/alphagov/govuk-frontend/blob/ecd839c3fcfb0468d8cecdb09cfb9f7f158c5fb8/src/govuk/components/checkboxes/_index.scss#L9
$govuk-checkboxes-size: 40px;

.dl-map__layer-item {
  .govuk-checkboxes__item {
    padding-right: 40px;
    padding-left: 0;
    cursor: pointer;

    &:hover {
      .govuk-checkboxes__label:before {
        box-shadow: 0 0 0 10px govuk-shade(govuk-colour("light-grey"), 15);
      }
    }
  }

  .govuk-checkboxes__input {
    right: -10px;
    left: unset;
  }

  .govuk-checkboxes__label {
    padding-left: 0;

    &:before {
      top: 8px;
      right: 0;
      left: unset;
      width: 24px;
      height: 24px;
    }

    &:after {
      top: 14px;
      right: 4px;
      left: unset;
      width: 16px;
      height: 9px;
      border-width: 0 0 4px 4px;
    }
  }
}

.dl-label__key {
  display: block;
  position: relative;
  margin-left: 53px;
}

.dl-label__key__symbol {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: $govuk-checkboxes-size;
  height: $govuk-checkboxes-size;
  margin-top: -8px;
  margin-left: -53px;
  border: $govuk-border-width-form-element solid govuk-colour("mid-grey");
  background: rgba(govuk-colour("light-grey"), .5);
}

.dl-label__key__symbol--circle {
  border-radius: 50%;
}
