.dl-map__side-panel {
  box-sizing: border-box;
  position: absolute;
  z-index: 1001;
  top: $govuk-gutter-half;
  right: $govuk-gutter-half;
  background: govuk-colour("white");
  box-shadow: 0 0 3px rgba(govuk-colour("black"), .8);
  width: 330px;
  max-width: calc(100vw - 130px);
}

.dl-map__side-panel--full {
  height: calc(100% - #{$govuk-gutter});
}

.dl-map__side-panel--bottom {
  top: auto;
  min-height: 56px;
}

.dl-map__side-panel__heading {
  box-sizing: border-box;
  position: absolute;
  z-index: 1002;
  top: 0;
  width: 100%;
  padding: $govuk-gutter-half;
  border-bottom: 1px solid $govuk-border-colour;
  background: govuk-colour("white");
}

.dl-map__side-panel__content {
  box-sizing: border-box;
  max-height: 100%;
  padding: 70px $govuk-gutter-half $govuk-gutter-half;
  overflow-y: auto;
}

.dl-map__side-panel--bottom .dl-map__side-panel__content {
  overflow-y: scroll;
  padding: 70px 15px 0px;
}

.dl-map__side-panel__section {
  padding: $govuk-gutter-half;
  border-top: 1px solid $govuk-border-colour;

  &:first-child {
    border-top: 0;
  }

  &--title {
    border-top-width: 2px;
    border-top-color: govuk-colour("black");
  }
}

.dl-map__side-panel--collapsed {
  display: none;
  right: 15px;
}

.dl-map__open-btn,
.dl-map__close-btn {
  position: absolute;
  width: 40px;
  height: 40px;
  margin: 0;
  padding: 0;
  border: 0;
  background-color: govuk-colour("white");
  cursor: pointer;

  &:hover {
    background-color: govuk-colour("light-grey");
  }
}

.dl-map__close-btn {
  z-index: 1002;
  top: 8px;
  right: 22px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 14 14'%3E%3Cpath d='M7,5.6L12.6,0L14,1.4L8.4,7L14,12.6L12.6,14L7,8.4L1.4,14L0,12.6L5.6,7L0,1.4L1.4,0L7,5.6Z' style='fill:%230b0c0c;stroke:%230b0c0c;stroke-width:0.1px'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 13px;
  background-size: 14px;
}

.dl-map__open-btn {
  z-index: 1002;
  top: 15px;
  right: 25px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='17' viewBox='0 0 18 17'%3E%3Cpath d='M16.215,9.81L18,11L9,17L0,11L1.785,9.81L8.945,14.583C8.978,14.606 9.022,14.606 9.055,14.583L16.215,9.81Z' style='fill:%230b0c0c;'/%3E%3Cpath d='M9,0L0,6L9,12L18,6L9,0ZM9,2.38L14.43,6L9,9.62L3.57,6L9,2.38Z' style='fill:%230b0c0c;'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 11px 11.5px;
  background-size: 18px 17px;
}

.dl-map__settings-open-btn {
  background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cg%20clip-path%3D%22url(%23clip0_4086_2138)%22%3E%0A%3Cpath%20d%3D%22M7.99984%209.99984C9.10441%209.99984%209.99984%209.10441%209.99984%207.99984C9.99984%206.89527%209.10441%205.99984%207.99984%205.99984C6.89527%205.99984%205.99984%206.89527%205.99984%207.99984C5.99984%209.10441%206.89527%209.99984%207.99984%209.99984Z%22%20stroke%3D%22%231E1E1E%22%20stroke-width%3D%221.6%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%0A%3Cpath%20d%3D%22M12.9332%209.99984C12.8444%2010.2009%2012.818%2010.424%2012.8572%2010.6402C12.8964%2010.8565%2012.9995%2011.056%2013.1532%2011.2132L13.1932%2011.2532C13.3171%2011.377%2013.4155%2011.5241%2013.4826%2011.6859C13.5497%2011.8478%2013.5842%2012.0213%2013.5842%2012.1965C13.5842%2012.3717%2013.5497%2012.5452%2013.4826%2012.7071C13.4155%2012.869%2013.3171%2013.016%2013.1932%2013.1398C13.0693%2013.2638%2012.9223%2013.3621%2012.7604%2013.4292C12.5986%2013.4963%2012.4251%2013.5309%2012.2498%2013.5309C12.0746%2013.5309%2011.9011%2013.4963%2011.7392%2013.4292C11.5774%2013.3621%2011.4303%2013.2638%2011.3065%2013.1398L11.2665%2013.0998C11.1094%2012.9461%2010.9098%2012.843%2010.6936%2012.8038C10.4773%2012.7646%2010.2542%2012.7911%2010.0532%2012.8798C9.85599%2012.9643%209.68783%2013.1047%209.56937%2013.2835C9.45092%2013.4624%209.38736%2013.672%209.3865%2013.8865V13.9998C9.3865%2014.3535%209.24603%2014.6926%208.99598%2014.9426C8.74593%2015.1927%208.40679%2015.3332%208.05317%2015.3332C7.69955%2015.3332%207.36041%2015.1927%207.11036%2014.9426C6.86031%2014.6926%206.71984%2014.3535%206.71984%2013.9998V13.9398C6.71467%2013.7192%206.64325%2013.5052%206.51484%2013.3256C6.38644%2013.1461%206.20699%2013.0094%205.99984%2012.9332C5.79876%2012.8444%205.57571%2012.818%205.35944%2012.8572C5.14318%2012.8964%204.94362%2012.9995%204.7865%2013.1532L4.7465%2013.1932C4.62267%2013.3171%204.47562%2013.4155%204.31376%2013.4826C4.15189%2013.5497%203.97839%2013.5842%203.80317%2013.5842C3.62795%2013.5842%203.45445%2013.5497%203.29258%2013.4826C3.13072%2013.4155%202.98367%2013.3171%202.85984%2013.1932C2.73587%2013.0693%202.63752%2012.9223%202.57042%2012.7604C2.50333%2012.5986%202.46879%2012.4251%202.46879%2012.2498C2.46879%2012.0746%202.50333%2011.9011%202.57042%2011.7392C2.63752%2011.5774%202.73587%2011.4303%202.85984%2011.3065L2.89984%2011.2665C3.05353%2011.1094%203.15663%2010.9098%203.19584%2010.6936C3.23505%2010.4773%203.20858%2010.2542%203.11984%2010.0532C3.03533%209.85599%202.89501%209.68783%202.71615%209.56937C2.53729%209.45092%202.32769%209.38736%202.11317%209.3865H1.99984C1.64622%209.3865%201.30708%209.24603%201.05703%208.99598C0.80698%208.74593%200.666504%208.40679%200.666504%208.05317C0.666504%207.69955%200.80698%207.36041%201.05703%207.11036C1.30708%206.86031%201.64622%206.71984%201.99984%206.71984H2.05984C2.2805%206.71467%202.49451%206.64325%202.67404%206.51484C2.85357%206.38644%202.99031%206.20699%203.0665%205.99984C3.15525%205.79876%203.18172%205.57571%203.14251%205.35944C3.10329%205.14318%203.00019%204.94362%202.8465%204.7865L2.8065%204.7465C2.68254%204.62267%202.58419%204.47562%202.51709%204.31376C2.44999%204.15189%202.41545%203.97839%202.41545%203.80317C2.41545%203.62795%202.44999%203.45445%202.51709%203.29258C2.58419%203.13072%202.68254%202.98367%202.8065%202.85984C2.93033%202.73587%203.07739%202.63752%203.23925%202.57042C3.40111%202.50333%203.57462%202.46879%203.74984%202.46879C3.92506%202.46879%204.09856%202.50333%204.26042%202.57042C4.42229%202.63752%204.56934%202.73587%204.69317%202.85984L4.73317%202.89984C4.89029%203.05353%205.08985%203.15663%205.30611%203.19584C5.52237%203.23505%205.74543%203.20858%205.9465%203.11984H5.99984C6.19702%203.03533%206.36518%202.89501%206.48363%202.71615C6.60208%202.53729%206.66565%202.32769%206.6665%202.11317V1.99984C6.6665%201.64622%206.80698%201.30708%207.05703%201.05703C7.30708%200.80698%207.64621%200.666504%207.99984%200.666504C8.35346%200.666504%208.6926%200.80698%208.94265%201.05703C9.19269%201.30708%209.33317%201.64622%209.33317%201.99984V2.05984C9.33403%202.27436%209.39759%202.48395%209.51604%202.66281C9.63449%202.84167%209.80266%202.98199%209.99984%203.0665C10.2009%203.15525%2010.424%203.18172%2010.6402%203.14251C10.8565%203.10329%2011.056%203.00019%2011.2132%202.8465L11.2532%202.8065C11.377%202.68254%2011.5241%202.58419%2011.6859%202.51709C11.8478%202.44999%2012.0213%202.41545%2012.1965%202.41545C12.3717%202.41545%2012.5452%202.44999%2012.7071%202.51709C12.869%202.58419%2013.016%202.68254%2013.1398%202.8065C13.2638%202.93033%2013.3621%203.07739%2013.4292%203.23925C13.4963%203.40111%2013.5309%203.57462%2013.5309%203.74984C13.5309%203.92506%2013.4963%204.09856%2013.4292%204.26042C13.3621%204.42229%2013.2638%204.56934%2013.1398%204.69317L13.0998%204.73317C12.9461%204.89029%2012.843%205.08985%2012.8038%205.30611C12.7646%205.52237%2012.7911%205.74543%2012.8798%205.9465V5.99984C12.9643%206.19702%2013.1047%206.36518%2013.2835%206.48363C13.4624%206.60208%2013.672%206.66565%2013.8865%206.6665H13.9998C14.3535%206.6665%2014.6926%206.80698%2014.9426%207.05703C15.1927%207.30708%2015.3332%207.64621%2015.3332%207.99984C15.3332%208.35346%2015.1927%208.6926%2014.9426%208.94265C14.6926%209.19269%2014.3535%209.33317%2013.9998%209.33317H13.9398C13.7253%209.33403%2013.5157%209.39759%2013.3369%209.51604C13.158%209.63449%2013.0177%209.80266%2012.9332%209.99984Z%22%20stroke%3D%22%231E1E1E%22%20stroke-width%3D%221.6%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%0A%3C%2Fg%3E%0A%3Cdefs%3E%0A%3CclipPath%20id%3D%22clip0_4086_2138%22%3E%0A%3Crect%20width%3D%2216%22%20height%3D%2216%22%20fill%3D%22white%22%2F%3E%0A%3C%2FclipPath%3E%0A%3C%2Fdefs%3E%0A%3C%2Fsvg%3E%0A");
  background-position: 10px 10px;
  background-size: 20px 20px;
}
