{% macro dlFilterCheckboxes(params) %}
<script type="module">
  import FilterCheckboxesController from '/static/javascripts/FilterCheckboxesController.js'
  const initFilterCheckbox = () => {
    return new FilterCheckboxesController('{{ params.uniqueID }}')
  }
  initFilterCheckbox();
</script>

<div class="govuk-checkboxes" data-module="filter-checkboxes">
  <div class="dl-filter-group__auto-filter" id="input-container-{{ params.uniqueID }}" style="display: none;">
    <label for="input-{{ params.uniqueID }}" class="govuk-label govuk-visually-hidden">
    Filter Show only
    </label>
    <input id="input-{{ params.uniqueID }}" class="govuk-input dl-filter-group__auto-filter__input" type="text" aria-describedby="checkbox-filter-{{ params.uniqueID }}" aria-controls="checkboxes-{{ params.uniqueID }}">
  </div>

  <div role="group">
    <div id="checkboxes-{{ params.uniqueID }}" class="checkbox-list">
      {{ params.checkboxesHTML|safe }}
    </div>
  </div>
</div>
{% endmacro %}
