{% from "govuk_frontend_jinja/macros/logo.html" import govukLogo -%}

{% macro dlHeaderBar(params={}) %}
{% set _navitems = params.get('items', []) %}
<header class="govuk-header dl-header{{ ' ' + params.classes if params.classes }}" role="banner" data-module="govuk-header">
  <div class="govuk-header__container {{ 'dl-container--full-width' if params.fullWidth else 'govuk-width-container' }}">
    <div class="govuk-header__logo">
      <a href="{{ params.site_url|default('/') }}" class="govuk-header__link govuk-header__link--homepage">
        {{ govukLogo({'classes': 'govuk-header__logotype', 'rebrand': govukRebrand}) }}
      </a>
    </div>
  </div>
</header>
<section aria-label="Service information" class="govuk-service-navigation"
  data-module="govuk-service-navigation">
  <div class="{{ 'dl-container--full-width' if params.fullWidth else 'govuk-width-container'}}">
    <div class="govuk-service-navigation__container">
      <span class="govuk-service-navigation__service-name">
        <a href="{{ params.site_url|default('/') }}" class="govuk-service-navigation__link">
          {{ params.serviceName|default('Planning and housing data in England') }}
        </a>
      </span>
      {% if _navitems | length > 0 %}
      <nav aria-label="Menu" class="govuk-service-navigation__wrapper">
        <button type="button" class="govuk-service-navigation__toggle govuk-js-service-navigation-toggle" aria-controls="navigation" hidden>
          Menu
        </button>
        <ul class="govuk-service-navigation__list" id="navigation">
          {% for item in _navitems %}
          <li class="govuk-service-navigation__item">
            <a class="govuk-service-navigation__link" href="{{ item.href }}">{{ item.text }}</a>
          </li>
          {% endfor %}
        </ul>
      </nav>
      {% endif %}
    </div>
  </div>
</section>
{% endmacro %}
