{% macro dlHeaderBar(params={}) %}
{% set _navitems = params.get('items', []) %}
<header id="global-header" class="govuk-header  with-proposition dl-header{{ ' dl-header--full' if params.fullWidth }}{{ ' ' + params.classes if params.classes }}" data-module="govuk-header">
  <div class="govuk-header__container{{ ' dl-container--full-width' if params.fullWidth else ' govuk-width-container' }}">
    <div class="header-proposition">
      <div class="govuk-header__content">
        <a href="{{ params.site_url|default('/') }}" class="govuk-header__link govuk-header__link--service-name">
          {% if params.transaction and params.transaction.organisation %}
            {{ params.transaction.organisation }}
          {% else %}
            {{ 'Planning Data' }}
          {% endif %}
        </a>
        {%- if params.transaction and params.transaction.name %}
        <span class="dl-header__service-name">{{ params.transaction.name }}</span>
        {% endif %}
        {% if _navitems | length > 0 %}
          <nav class="govuk-header__navigation" aria-label="{{ params.navigationLabel | default('Menu') }}">
            <button type="button" class="govuk-header__menu-button govuk-js-header-toggle" aria-controls="navigation" aria-label="Show or hide Top Level Navigation">Menu</button>
            <ul id="navigation" class="govuk-header__navigation-list">
              {% for item in _navitems %}
              <li class="govuk-header__navigation-item">
                <a class="govuk-header__link" href="{{ item.href }}">{{ item.text }}</a>
              </li>
              {% endfor %}
            </ul>
          </nav>
        {% endif %}
      </div>
    </div>
  </div>
</header>
{% endmacro %}
